/*################################*\
    __settings.less
\*################################*/
/*################################*\
    __tools.sprite.less
\*################################*/
.alternate .col-container .logo-col {
  width: 185px;
}
@media (max-width: 1199px) {
  .alternate .col-container .logo-col {
    width: 130px;
  }
  .alternate .col-container .logo-col img {
    width: 115px;
  }
}
.alternate .header .conference-logo {
  max-width: 165px;
}
@media (max-width: 767px) {
  .alternate .header .conference-logo {
    max-width: 60px;
  }
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.content h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  color: #7aa96c;
}
@media (max-width: 989px) {
  .content h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .content h1 {
    font-size: 24px;
  }
}
.content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
}
@media (max-width: 767px) {
  .content h2 {
    font-size: 20px;
  }
}
.content h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.content h4,
.content h5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.content p {
  margin: 0 0 20px;
}
.content table {
  width: 100%;
  margin-bottom: 20px;
}
.content table td,
.content table th {
  padding: 10px;
  border: 1px solid #e8eaeb;
}
.content table thead > tr > td,
.content table thead > tr > th {
  background-color: #f4f4f5;
  font-weight: 600;
  font-size: 13px;
}
.content table tbody > tr:nth-child(even) > td,
.content table tbody > tr:nth-child(even) > th {
  background-color: #f4f4f5;
}
.content table.no-stripe tbody > tr:nth-child(even) > td,
.content table.no-stripe tbody > tr:nth-child(even) > th {
  background-color: #fff;
}
.content table.no-border td,
.content table.no-border th {
  border: 1px solid transparent;
  border-bottom: 1px solid #e8eaeb;
}
.panel-default > .panel-heading {
  position: relative;
  background-color: #f4f4f5;
  border-color: #f4f4f5;
  border-left: 30px solid #0d71c8;
  border-radius: 0;
}
.panel-default > .panel-heading.collapsed {
  border-left: 30px solid #dbe7f2;
}
.panel-default > .panel-heading:hover {
  border-left: 30px solid #0d71c8;
}
.panel-default > .panel-heading p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: 600;
}
.panel-default > .panel-heading h2 {
  color: #0c5fa8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.panel-heading {
  cursor: pointer;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-color: #f4f4f5;
}
.panel-default {
  border-color: #f4f4f5;
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-body {
  padding-bottom: 0px;
}
.logo-grid table {
  table-layout: fixed;
}
.logo-grid table td {
  word-wrap: break-word;
  border: none;
  background: none;
  padding: 25px;
  vertical-align: bottom;
}
.logo-grid table td img {
  max-width: 100%;
  max-height: 130px;
  display: block;
  margin: auto auto;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 950px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
.logo-grid table td a {
  font-weight: 700;
}
.content .sponsor-opportunities {
  margin-top: 20px;
}
.content .sponsor-opportunities th {
  background: #e6f1f9;
  padding: 4px 8px;
}
.content .sponsor-opportunities td {
  padding: 5px 8px;
}
.content .recognition h3 {
  color: #333;
  font-size: 18px;
  margin: 0;
  text-align: left;
}
.content .recognition td,
.content .recognition th {
  padding: 5px 8px;
}
.content .recognition th {
  background: #fff;
  text-align: center;
  font-weight: 700;
  color: #0c5fa8;
  font-size: 14px;
  text-transform: uppercase;
}
.content .recognition th:nth-child(even),
.content .recognition td:nth-child(even) {
  background: #f5f6f6 !important;
}
.content .recognition td {
  text-align: center;
}
.content .recognition td:first-child {
  text-align: left;
}
.key-links a {
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block;
}
.key-links a::after {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -10em -6em;
  margin-top: -7px;
  margin-bottom: -7px;
  position: relative;
  top: 1px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .key-links a::after {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.asce-logo {
  background-image: url('../img/asce-logo-footer.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 233px;
  height: 30px;
}
@media (max-width: 1199px) {
  .asce-logo {
    background-image: url('../img/asce-logo-footer-small.png');
    width: 73px;
    height: 23px;
  }
}
.breadcrumb-link {
  font-weight: 700;
  margin-top: 25px;
  display: inline-block;
}
.share-logos {
  font-weight: 600;
  margin-top: 10px;
  font-size: 13px;
}
.live-chat {
  font-size: 18px;
  font-weight: 600;
  color: #62b840;
}
.live-chat::before {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -6em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .live-chat::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.live-chat span {
  color: #333;
  font-size: 12px;
}
.phone::before {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -4em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .phone::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
/* AUTHOR */
