/*################################*\
    __settings.less
\*################################*/
/*################################*\
    __tools.sprite.less
\*################################*/
.alternate .col-container .logo-col {
  width: 185px;
}
@media (max-width: 1199px) {
  .alternate .col-container .logo-col {
    width: 130px;
  }
  .alternate .col-container .logo-col img {
    width: 115px;
  }
}
.alternate .header .conference-logo {
  max-width: 165px;
}
@media (max-width: 767px) {
  .alternate .header .conference-logo {
    max-width: 60px;
  }
}
.col-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.col-container .logo-col,
.col-container .auto-col,
.col-container .side-nav-col {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 767px) {
  .col-container .logo-col,
  .col-container .auto-col,
  .col-container .side-nav-col {
    display: block;
    width: 100% !important;
  }
}
.col-container .side-nav-col {
  width: 450px;
}
@media (max-width: 1199px) {
  .col-container .side-nav-col {
    width: 385px;
  }
}
@media (max-width: 989px) {
  .col-container .side-nav-col {
    width: 300px;
  }
}
.col-container .logo-col {
  width: 105px;
}
@media (max-width: 1199px) {
  .col-container .logo-col {
    width: 75px;
  }
  .col-container .logo-col img {
    width: 60px;
  }
}
.toggleable-nav {
  display: none;
}
.toggleable-nav a {
  display: block;
  color: #fff;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 13px;
}
.toggleable-nav a:hover,
.toggleable-nav a:focus,
.toggleable-nav a:visited,
.toggleable-nav a:active {
  color: #fff;
}
.toggleable-nav .large {
  font-size: 14px;
}
.toggleable-nav .link-block {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .toggleable-nav.in {
    z-index: 10;
    background: #6a9556;
    box-shadow: -4px 0px 0px rgba(0, 0, 0, 0.25);
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    overflow: auto;
  }
  .toggleable-nav.in .close-nav {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 12;
    cursor: pointer;
  }
  .toggleable-nav.in .hidden-xs {
    display: block !important;
  }
}
.footer,
.summary-banner {
  background-image: url(../img/pattern-bg.png);
  background-color: #6a9556;
}
.footer .year-tabs,
.summary-banner .year-tabs {
  background-color: #fff;
}
.footer .year-tabs .tab-buttons,
.summary-banner .year-tabs .tab-buttons {
  margin-bottom: 0;
}
.footer .year-tabs li,
.summary-banner .year-tabs li {
  display: inline-block;
}
.footer .year-tabs .tab-button,
.summary-banner .year-tabs .tab-button {
  color: #6a9556;
  font-weight: 700;
  padding: 6px 20px;
  font-size: 24px;
  position: relative;
  text-decoration: none;
}
.footer .year-tabs .tab-button:hover,
.summary-banner .year-tabs .tab-button:hover {
  color: #1a1d22;
}
@media (max-width: 767px) {
  .footer .year-tabs .tab-button,
  .summary-banner .year-tabs .tab-button {
    font-size: 16px;
    padding: 6px 12px;
  }
}
.footer .year-tabs li.active .tab-button,
.summary-banner .year-tabs li.active .tab-button {
  color: #fff;
  cursor: default;
  background: #7aa96c;
}
.footer .year-tabs li.active .tab-button:hover,
.summary-banner .year-tabs li.active .tab-button:hover {
  color: #fff;
}
.footer .year-tabs li.active .tab-button::after,
.summary-banner .year-tabs li.active .tab-button::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #7aa96c;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
}
.footer .link-block,
.summary-banner .link-block {
  margin-bottom: 20px;
}
.footer .link-block.contact .ic,
.summary-banner .link-block.contact .ic {
  margin-right: 9px;
  margin-left: -7px;
}
.footer .link-block.connect h3,
.summary-banner .link-block.connect h3 {
  margin-bottom: 20px;
}
.footer .link-block.connect a,
.summary-banner .link-block.connect a {
  display: inline-block;
  margin-right: 9px;
  margin-left: 9px;
}
.footer .title .hidden-xs,
.summary-banner .title .hidden-xs {
  margin-left: 120px;
  margin-right: 20px;
}
@media (max-width: 1199px) {
  .footer .title .hidden-xs,
  .summary-banner .title .hidden-xs {
    margin-left: 85px;
  }
}
@media (max-width: 767px) {
  .footer .title h2,
  .summary-banner .title h2 {
    margin-left: 15px;
  }
}
.footer .year-prev-next h5,
.summary-banner .year-prev-next h5 {
  font-weight: 600;
}
.footer .year-prev-next h2,
.summary-banner .year-prev-next h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px !important;
}
.footer .year-prev-next h4,
.summary-banner .year-prev-next h4 {
  margin-bottom: 5px;
}
.footer .details,
.summary-banner .details {
  padding-top: 20px;
  font-weight: 600;
}
.footer .details h3,
.summary-banner .details h3 {
  opacity: .7;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 989px) {
  .footer .details h3,
  .summary-banner .details h3 {
    font-size: 14px;
  }
}
@media (max-width: 989px) {
  .footer .details a,
  .summary-banner .details a {
    margin-bottom: 6px;
  }
}
.footer .details .large,
.summary-banner .details .large {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 989px) {
  .footer .details .large,
  .summary-banner .details .large {
    font-size: 14px;
  }
}
.footer .details .col2 .large,
.summary-banner .details .col2 .large {
  text-transform: uppercase;
}
.footer .details .col3 .large,
.summary-banner .details .col3 .large {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .details .col4 .large,
.summary-banner .details .col4 .large {
  margin: 10px;
}
@media (max-width: 767px) {
  .footer .details h2,
  .summary-banner .details h2 {
    font-size: 14px;
  }
}
.footer .copyright,
.summary-banner .copyright {
  padding: 20px;
  background: #0c5fa8;
}
@media (max-width: 767px) {
  .footer .copyright,
  .summary-banner .copyright {
    font-size: 10px;
  }
}
.footer .copyright a,
.summary-banner .copyright a {
  display: inline;
}
.footer .copyright img,
.summary-banner .copyright img {
  margin-right: 20px;
}
.footer .mobile-nav {
  margin-left: -15px;
  margin-right: -15px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.content h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  color: #7aa96c;
}
@media (max-width: 989px) {
  .content h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .content h1 {
    font-size: 24px;
  }
}
.content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
}
@media (max-width: 767px) {
  .content h2 {
    font-size: 20px;
  }
}
.content h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.content h4,
.content h5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.content p {
  margin: 0 0 20px;
}
.content .side-nav-col {
  padding: 20px 60px 0 60px;
}
@media (max-width: 1199px) {
  .content .side-nav-col {
    padding: 20px 40px 0 40px;
  }
}
@media (max-width: 767px) {
  .content .side-nav-col {
    padding: 0px;
  }
}
.content table {
  width: 100%;
  margin-bottom: 20px;
}
.content table td,
.content table th {
  padding: 10px;
  border: 1px solid #e8eaeb;
}
.content table thead > tr > td,
.content table thead > tr > th {
  background-color: #f4f4f5;
  font-weight: 600;
  font-size: 13px;
}
.content table tbody > tr:nth-child(even) > td,
.content table tbody > tr:nth-child(even) > th {
  background-color: #f4f4f5;
}
.content table.no-stripe tbody > tr:nth-child(even) > td,
.content table.no-stripe tbody > tr:nth-child(even) > th {
  background-color: #fff;
}
.content table.no-border td,
.content table.no-border th {
  border: 1px solid transparent;
  border-bottom: 1px solid #e8eaeb;
}
.side-nav-col .callout {
  margin-bottom: 40px;
  width: 100%;
}
.side-nav-col .callout h2 {
  font-weight: 400;
}
.side-nav-col .callout .callout-body {
  background-image: url(../img/pattern-bg-fade.png);
  background-repeat: repeat-x;
  background-position: top center;
  padding: 18px 20px 0 20px;
}
.side-nav-col .callout .callout-body img {
  max-width: 100%;
}
.side-nav-col .callout.no-bg .callout-body {
  background-image: none;
  border-top: 2px solid #f0f1f1;
}
.container {
  width: 100% !important;
  max-width: 1400px;
}
.ic {
  vertical-align: middle;
  position: relative;
  text-indent: -9999px;
  top: -2px;
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .ic {
    font-size: 30px;
    background-image: url("../img/sprite@2x.png");
    background-size: 590px 330px;
  }
}
.ic.menu {
  background-position: -10em -9em;
}
.ic.home {
  background-position: -17em -4em;
}
.ic.close-nav {
  background-position: -7em -9em;
}
.ic.download {
  background-position: -10em -4em;
}
.ic.contact {
  background-position: -5em -8em;
}
.ic.contact-large {
  background-position: -17em -3em;
}
.ic.contact-blue {
  background-position: -5em -6em;
}
.ic.telephone {
  background-position: -4em -6em;
}
.ic.chat {
  background-position: -6em -6em;
}
.ic.mobile-phone {
  background-position: -17em -2em;
}
.ic.chevron-down {
  background-position: -17em -5em;
}
.ic.linkedin {
  background-position: -1em -9em;
}
.ic.facebook {
  background-position: -2em -9em;
}
.ic.twitter {
  background-position: -3em -9em;
}
.ic.youtube {
  background-position: -4em -9em;
}
.ic.google {
  background-position: -5em -9em;
}
.ic.collapse-icon {
  background-position: -3em -6em;
}
.twitter-large {
  background-position: -540px 0px;
  width: 50px;
  height: 60px;
}
.facebook-large {
  background-position: -540px -60px;
  width: 50px;
  height: 60px;
}
.google-large {
  background-position: -540px -120px;
  width: 50px;
  height: 60px;
}
.collapsed .collapse-icon {
  background-position: -2em -6em;
}
.collapse-icon {
  position: absolute;
  margin-left: -45px;
  top: initial;
  margin-top: -6px;
}
.panel-heading:hover .collapse-icon {
  background-position: -3em -6em;
}
.panel-heading.collapsed:hover .collapse-icon {
  background-position: -2em -7em;
}
hr {
  margin-top: 0px;
  border-top: 2px solid #f4f4f5;
}
button,
a.button {
  background-color: #0c5fa8;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  border: none;
  padding: .5em 1em;
  border-radius: 3px;
  box-shadow: 0px 2px 0px #cdcdcd;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}
button:hover,
a.button:hover,
button a:visited,
a.button a:visited,
button a:focus,
a.button a:focus {
  background-color: #0e6cc0;
  color: #fff;
  text-decoration: none;
}
ul,
ol {
  margin-bottom: 20px;
  padding-left: 1.9em;
}
ul {
  list-style-type: disc;
}
ul ul,
ol ol {
  margin-bottom: 0;
}
ul > li {
  list-style-image: url(../img/li-bullet.png);
}
ul ul li {
  list-style-image: none;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  border-radius: 1px;
  border: 1px solid #b3b8bc;
  box-shadow: inset 0px 1px 2px #e8eaeb;
  outline: none;
  padding: 8px;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
}
input[type="text"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
  border-color: #97d5e9;
}
label {
  display: block;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}
label em {
  color: red;
}
form {
  display: inline-block;
  width: 100%;
  background-color: #f4f4f5;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}
.panel-default > .panel-heading {
  position: relative;
  background-color: #f4f4f5;
  border-color: #f4f4f5;
  border-left: 30px solid #0d71c8;
  border-radius: 0;
}
.panel-default > .panel-heading.collapsed {
  border-left: 30px solid #dbe7f2;
}
.panel-default > .panel-heading:hover {
  border-left: 30px solid #0d71c8;
}
.panel-default > .panel-heading p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: 600;
}
.panel-default > .panel-heading h2 {
  color: #0c5fa8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.panel-heading {
  cursor: pointer;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-color: #f4f4f5;
}
.panel-default {
  border-color: #f4f4f5;
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-body {
  padding-bottom: 0px;
}
.summary-banner {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .summary-banner .col-container .logo-col {
    width: 105px;
  }
}
.summary-banner h2 {
  margin-top: 0px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 30px;
}
.summary-banner .year-badge h2 {
  margin-bottom: 0px;
}
.summary-banner h3 {
  float: left;
  margin-right: 20px;
}
.summary-banner h4 {
  font-style: normal;
}
/*################################*\
    __tools.logos.less
\*################################*/
.sponsor-container h2 {
  margin-bottom: 30px;
}
.top-sponsor-block img,
.coop-orgs-block img {
  margin: 20px;
}
@media (max-width: 767px) {
  .top-sponsor-block img,
  .coop-orgs-block img {
    margin-left: 0;
    margin-right: 0;
  }
}
.top-sponsor-block {
  margin-bottom: 40px;
}
.top-sponsor-block::before,
.top-sponsor-block .box {
  border: 2px solid currentColor;
}
.top-sponsor-block::before {
  display: inline-block;
  padding: 8px 20px;
  border-bottom-color: #fff !important;
  margin-bottom: -2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.top-sponsor-block .box {
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .top-sponsor-block .box {
    padding: 5px;
  }
}
.top-sponsor-block img {
  max-width: 202px;
  max-height: 90px;
}
@media (max-width: 989px) {
  .top-sponsor-block img {
    max-width: 140px;
    max-height: 62px;
  }
}
@media (max-width: 767px) {
  .top-sponsor-block img {
    max-width: 68px;
    max-height: 36px;
  }
}
.platinum::before,
.platinum .box {
  border-color: #cde1ec;
}
.platinum::before {
  content: 'Platinum';
}
.platinum img {
  max-width: 360px;
  max-height: 160px;
}
@media (max-width: 989px) {
  .platinum img {
    max-width: 250px;
    max-height: 110px;
  }
}
@media (max-width: 767px) {
  .platinum img {
    max-width: 120px;
    max-height: 65px;
  }
}
.gold::before,
.gold .box {
  border-color: #f8cd79;
}
.gold::before {
  content: 'Gold';
}
.gold img {
  max-width: 270px;
  max-height: 120px;
}
@media (max-width: 989px) {
  .gold img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .gold img {
    max-width: 90px;
    max-height: 48px;
  }
}
.corporate::before,
.corporate .box {
  border-color: #9ed8f9;
}
.corporate::before {
  content: 'Corporate Sponsors';
}
.silver::before,
.silver .box {
  border-color: #dbddde;
}
.silver::before {
  content: 'Silver';
}
.financial::before,
.financial .box {
  border-color: #d6a985;
}
.financial::before {
  content: 'Financial Corporate Sponsors';
}
.bronze::before,
.bronze .box {
  border-color: #d9c5ac;
}
.bronze::before {
  content: 'Bronze';
}
.financial a,
.bronze a {
  font-size: 18px;
  font-weight: 700;
}
.financial a:not(:last-child)::after,
.bronze a:not(:last-child)::after {
  content: '';
  padding-right: 12px;
  border-right: 1px solid currentColor;
  margin-right: 8px;
}
.coop-orgs-block {
  background-color: #e8eaeb;
  padding: 40px 15px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .coop-orgs-block {
    padding: 5px;
  }
}
.coop-orgs-block h2 {
  text-align: left;
}
.coop-orgs-block img {
  max-width: 270px;
  max-height: 120px;
  opacity: .7;
}
@media (max-width: 989px) {
  .coop-orgs-block img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .coop-orgs-block img {
    max-width: 90px;
    max-height: 48px;
  }
}
.logo-grid table {
  table-layout: fixed;
}
.logo-grid table td {
  word-wrap: break-word;
  border: none;
  background: none;
  padding: 25px;
  vertical-align: bottom;
}
.logo-grid table td img {
  max-width: 100%;
  max-height: 130px;
  display: block;
  margin: auto auto;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 950px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
.logo-grid table td a {
  font-weight: 700;
}
a {
  color: #0c5fa8;
}
a:hover {
  color: #19a1cf;
}
.person-name {
  font-size: 18px;
  text-transform: none;
}
.person-title {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 10px;
}
.speaker-profile {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 989px) {
  .speaker-profile {
    display: block;
    width: 100%;
  }
}
.speaker-profile .session-col,
.speaker-profile .photo-col,
.speaker-profile .details-col {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 989px) {
  .speaker-profile .details-col {
    display: block;
    width: 100%;
  }
}
.speaker-profile .dateline {
  border-right: 1px solid #ccc;
  padding-left: 0px;
  letter-spacing: 2px;
}
@media (max-width: 989px) {
  .speaker-profile .dateline {
    border-right: none;
  }
}
.speaker-profile .photo-col {
  width: 130px;
  padding: 0 10px 0 5px;
}
.speaker-profile .sessiontype {
  padding-right: 0px;
  letter-spacing: 2px;
}
.speaker-profile .session-col {
  text-transform: uppercase;
}
.speaker-profile button {
  margin-bottom: 0;
}
.speaker-profile img {
  max-width: 100%;
  max-height: 130px;
}
.speaker-profile p {
  margin-bottom: 0px;
}
.register {
  margin-bottom: 0px !important;
  margin-top: 20px;
}
.register a {
  display: inline-block;
  margin-bottom: 20px;
}
.register h4 {
  margin-bottom: 20px;
}
.register img {
  max-width: 100%;
  margin-bottom: 20px;
}
.content .sponsor-opportunities {
  margin-top: 20px;
}
.content .sponsor-opportunities th {
  background: #e6f1f9;
  padding: 4px 8px;
}
.content .sponsor-opportunities td {
  padding: 5px 8px;
}
.content .recognition h3 {
  color: #333;
  font-size: 18px;
  margin: 0;
  text-align: left;
}
.content .recognition td,
.content .recognition th {
  padding: 5px 8px;
}
.content .recognition th {
  background: #fff;
  text-align: center;
  font-weight: 700;
  color: #0c5fa8;
  font-size: 14px;
  text-transform: uppercase;
}
.content .recognition th:nth-child(even),
.content .recognition td:nth-child(even) {
  background: #f5f6f6 !important;
}
.content .recognition td {
  text-align: center;
}
.content .recognition td:first-child {
  text-align: left;
}
.important-dates .callout-body {
  display: table;
  width: 100%;
  padding-left: 5px !important;
}
.important-dates .date-block {
  display: table-row;
}
.important-dates .date-block .date-col,
.important-dates .date-block .description-col {
  display: table-cell;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.important-dates .date-block .date-col {
  padding-right: 2px;
  text-align: right;
  font-size: 12px;
  min-width: 90px;
}
.important-dates .date-block .date-col .date {
  font-weight: 600;
  font-size: 14px;
}
.important-dates .date-block .date-col .date::after {
  content: " ";
  display: block;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 38px;
  width: 0px;
  border-right: 1px solid #ccc;
}
.important-dates .date-block .description-col {
  font-size: 12px;
  padding-left: 8px;
}
.callout.sponsors .callout-body {
  text-align: center;
}
.callout.sponsors .callout-body img {
  max-height: 130px;
}
.callout.contacts {
  line-height: 26px;
}
.introduction {
  background-color: #6a9556;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.introduction h1 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 989px) {
  .introduction h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .introduction h1 {
    font-size: 18px;
  }
}
@media (max-width: 989px) {
  .introduction .intro {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .introduction .intro {
    font-size: 14px;
    line-height: 18px;
  }
}
.introduction img {
  max-width: 100%;
  display: block;
  margin: auto auto;
}
.introduction .img-fade {
  height: 50px;
  width: 100%;
  position: absolute;
  margin-top: -49px;
  padding: 0px;
  background: -moz-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(106, 149, 86, 0)), color-stop(100%, #6a9556));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='fade(@color_key1, 0%)', endColorstr='@color_key1', GradientType=0);
  /* IE6-9 */
}
.introduction a,
.introduction a:hover,
.introduction a:visited,
.introduction a:active {
  color: #fff;
}
.introduction a:hover {
  opacity: .5;
}
.introduction > div {
  padding: 10px 30px;
}
.key-links a {
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block;
}
.key-links a::after {
  content: "";
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -10em -6em;
  margin-top: -7px;
  margin-bottom: -7px;
  position: relative;
  top: 1px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .key-links a::after {
    font-size: 30px;
    background-image: url("../img/sprite@2x.png");
    background-size: 590px 330px;
  }
}
.key-links a[href$=".pdf"]::after {
  display: inline-block;
  background: #0c5fa8;
  content: "PDF";
  height: auto;
  width: auto;
  margin-left: 8px;
  padding: 1px 4px;
  position: relative;
  top: -1px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
a[href^="mailto:"]::before {
  content: "";
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -5em -6em;
  margin-top: -7px;
  margin-right: 6px;
  position: relative;
  top: 4px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  a[href^="mailto:"]::before {
    font-size: 30px;
    background-image: url("../img/sprite@2x.png");
    background-size: 590px 330px;
  }
}
.footer .link-arrow {
  margin-bottom: 20px !important;
  font-size: 18px;
}
.footer .link-arrow::after {
  background-position: -7em -6em;
}
@media (max-width: 1199px) {
  .footer .link-arrow {
    font-size: 16px;
    margin-bottom: 16px !important;
  }
}
.asce-logo {
  background-image: url('../img/asce-logo-footer.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 233px;
  height: 30px;
}
@media (max-width: 1199px) {
  .asce-logo {
    background-image: url('../img/asce-logo-footer-small.png');
    width: 73px;
    height: 23px;
  }
}
.breadcrumb-link {
  font-weight: 700;
  margin-top: 25px;
  display: inline-block;
}
.share-logos {
  font-weight: 600;
  margin-top: 10px;
  font-size: 13px;
}
.live-chat {
  font-size: 18px;
  font-weight: 600;
  color: #62b840;
}
.live-chat::before {
  content: "";
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -6em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .live-chat::before {
    font-size: 30px;
    background-image: url("../img/sprite@2x.png");
    background-size: 590px 330px;
  }
}
.live-chat span {
  color: #333;
  font-size: 12px;
}
.phone::before {
  content: "";
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -4em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .phone::before {
    font-size: 30px;
    background-image: url("../img/sprite@2x.png");
    background-size: 590px 330px;
  }
}
/* AUTHOR */
