/*################################*\
    __settings.less
\*################################*/
/*################################*\
    __tools.sprite.less
\*################################*/
.alternate .col-container .logo-col {
  width: 185px;
}
@media (max-width: 1199px) {
  .alternate .col-container .logo-col {
    width: 130px;
  }
  .alternate .col-container .logo-col img {
    width: 115px;
  }
}
.alternate .header .conference-logo {
  max-width: 165px;
}
@media (max-width: 767px) {
  .alternate .header .conference-logo {
    max-width: 60px;
  }
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.content h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  color: #7aa96c;
}
@media (max-width: 989px) {
  .content h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .content h1 {
    font-size: 24px;
  }
}
.content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
}
@media (max-width: 767px) {
  .content h2 {
    font-size: 20px;
  }
}
.content h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.content h4,
.content h5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.content p {
  margin: 0 0 20px;
}
.content .side-nav-col {
  padding: 20px 60px 0 60px;
}
@media (max-width: 1199px) {
  .content .side-nav-col {
    padding: 20px 40px 0 40px;
  }
}
@media (max-width: 767px) {
  .content .side-nav-col {
    padding: 0px;
  }
}
.content table {
  width: 100%;
  margin-bottom: 20px;
}
.content table td,
.content table th {
  padding: 10px;
  border: 1px solid #e8eaeb;
}
.content table thead > tr > td,
.content table thead > tr > th {
  background-color: #f4f4f5;
  font-weight: 600;
  font-size: 13px;
}
.content table tbody > tr:nth-child(even) > td,
.content table tbody > tr:nth-child(even) > th {
  background-color: #f4f4f5;
}
.content table.no-stripe tbody > tr:nth-child(even) > td,
.content table.no-stripe tbody > tr:nth-child(even) > th {
  background-color: #fff;
}
.content table.no-border td,
.content table.no-border th {
  border: 1px solid transparent;
  border-bottom: 1px solid #e8eaeb;
}
.panel-default > .panel-heading {
  position: relative;
  background-color: #f4f4f5;
  border-color: #f4f4f5;
  border-left: 30px solid #0d71c8;
  border-radius: 0;
}
.panel-default > .panel-heading.collapsed {
  border-left: 30px solid #dbe7f2;
}
.panel-default > .panel-heading:hover {
  border-left: 30px solid #0d71c8;
}
.panel-default > .panel-heading p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: 600;
}
.panel-default > .panel-heading h2 {
  color: #0c5fa8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.panel-heading {
  cursor: pointer;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-color: #f4f4f5;
}
.panel-default {
  border-color: #f4f4f5;
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-body {
  padding-bottom: 0px;
}
.logo-grid table {
  table-layout: fixed;
}
.logo-grid table td {
  word-wrap: break-word;
  border: none;
  background: none;
  padding: 25px;
  vertical-align: bottom;
}
.logo-grid table td img {
  max-width: 100%;
  max-height: 130px;
  display: block;
  margin: auto auto;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 950px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
.logo-grid table td a {
  font-weight: 700;
}
a {
  color: #0c5fa8;
}
a:hover {
  color: #19a1cf;
}
.person-name {
  font-size: 18px;
  text-transform: none;
}
.person-title {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 10px;
}
.speaker-profile {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 989px) {
  .speaker-profile {
    display: block;
    width: 100%;
  }
}
.speaker-profile .session-col,
.speaker-profile .photo-col,
.speaker-profile .details-col {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 989px) {
  .speaker-profile .details-col {
    display: block;
    width: 100%;
  }
}
.speaker-profile .dateline {
  border-right: 1px solid #ccc;
  padding-left: 0px;
  letter-spacing: 2px;
}
@media (max-width: 989px) {
  .speaker-profile .dateline {
    border-right: none;
  }
}
.speaker-profile .photo-col {
  width: 130px;
  padding: 0 10px 0 5px;
}
.speaker-profile .sessiontype {
  padding-right: 0px;
  letter-spacing: 2px;
}
.speaker-profile .session-col {
  text-transform: uppercase;
}
.speaker-profile button {
  margin-bottom: 0;
}
.speaker-profile img {
  max-width: 100%;
  max-height: 130px;
}
.speaker-profile p {
  margin-bottom: 0px;
}
.register {
  margin-bottom: 0px !important;
  margin-top: 20px;
}
.register a {
  display: inline-block;
  margin-bottom: 20px;
}
.register h4 {
  margin-bottom: 20px;
}
.register img {
  max-width: 100%;
  margin-bottom: 20px;
}
.content .sponsor-opportunities {
  margin-top: 20px;
}
.content .sponsor-opportunities th {
  background: #e6f1f9;
  padding: 4px 8px;
}
.content .sponsor-opportunities td {
  padding: 5px 8px;
}
.content .recognition h3 {
  color: #333;
  font-size: 18px;
  margin: 0;
  text-align: left;
}
.content .recognition td,
.content .recognition th {
  padding: 5px 8px;
}
.content .recognition th {
  background: #fff;
  text-align: center;
  font-weight: 700;
  color: #0c5fa8;
  font-size: 14px;
  text-transform: uppercase;
}
.content .recognition th:nth-child(even),
.content .recognition td:nth-child(even) {
  background: #f5f6f6 !important;
}
.content .recognition td {
  text-align: center;
}
.content .recognition td:first-child {
  text-align: left;
}
.important-dates .callout-body {
  display: table;
  width: 100%;
  padding-left: 5px !important;
}
.important-dates .date-block {
  display: table-row;
}
.important-dates .date-block .date-col,
.important-dates .date-block .description-col {
  display: table-cell;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.important-dates .date-block .date-col {
  padding-right: 2px;
  text-align: right;
  font-size: 12px;
  min-width: 90px;
}
.important-dates .date-block .date-col .date {
  font-weight: 600;
  font-size: 14px;
}
.important-dates .date-block .date-col .date::after {
  content: " ";
  display: block;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 38px;
  width: 0px;
  border-right: 1px solid #ccc;
}
.important-dates .date-block .description-col {
  font-size: 12px;
  padding-left: 8px;
}
.callout.sponsors .callout-body {
  text-align: center;
}
.callout.sponsors .callout-body img {
  max-height: 130px;
}
.callout.contacts {
  line-height: 26px;
}
.introduction {
  background-color: #6a9556;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.introduction h1 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 989px) {
  .introduction h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .introduction h1 {
    font-size: 18px;
  }
}
@media (max-width: 989px) {
  .introduction .intro {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .introduction .intro {
    font-size: 14px;
    line-height: 18px;
  }
}
.introduction img {
  max-width: 100%;
  display: block;
  margin: auto auto;
}
.introduction .img-fade {
  height: 50px;
  width: 100%;
  position: absolute;
  margin-top: -49px;
  padding: 0px;
  background: -moz-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(106, 149, 86, 0)), color-stop(100%, #6a9556));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='fade(@color_key1, 0%)', endColorstr='@color_key1', GradientType=0);
  /* IE6-9 */
}
.introduction a,
.introduction a:hover,
.introduction a:visited,
.introduction a:active {
  color: #fff;
}
.introduction a:hover {
  opacity: .5;
}
.introduction > div {
  padding: 10px 30px;
}
.key-links a {
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block;
}
.key-links a::after {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -10em -6em;
  margin-top: -7px;
  margin-bottom: -7px;
  position: relative;
  top: 1px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .key-links a::after {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.key-links a[href$='.pdf']::after {
  display: inline-block;
  background: #0c5fa8;
  content: 'PDF';
  height: auto;
  width: auto;
  margin-left: 8px;
  padding: 1px 4px;
  position: relative;
  top: -1px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
a[href^='mailto:']::before {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -5em -6em;
  margin-top: -7px;
  margin-right: 6px;
  position: relative;
  top: 4px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  a[href^='mailto:']::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.footer .link-arrow {
  margin-bottom: 20px !important;
  font-size: 18px;
}
.footer .link-arrow::after {
  background-position: -7em -6em;
}
@media (max-width: 1199px) {
  .footer .link-arrow {
    font-size: 16px;
    margin-bottom: 16px !important;
  }
}
.asce-logo {
  background-image: url('../img/asce-logo-footer.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 233px;
  height: 30px;
}
@media (max-width: 1199px) {
  .asce-logo {
    background-image: url('../img/asce-logo-footer-small.png');
    width: 73px;
    height: 23px;
  }
}
.breadcrumb-link {
  font-weight: 700;
  margin-top: 25px;
  display: inline-block;
}
.share-logos {
  font-weight: 600;
  margin-top: 10px;
  font-size: 13px;
}
.live-chat {
  font-size: 18px;
  font-weight: 600;
  color: #62b840;
}
.live-chat::before {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -6em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .live-chat::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.live-chat span {
  color: #333;
  font-size: 12px;
}
.phone::before {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -4em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .phone::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
/* AUTHOR */
