@color_platinum:  #cde1ec;
@color_gold:    #f8cd79;
@color_corporate: #9ed8f9; // same as financial?
@color_silver:  #dbddde;
@color_financial: #9ed8f9; // same as corporate?
@color_bronze:  #d9c5ac;

.sponsor-container {
  h2 {
    margin-bottom: 30px;
  }
}

.box-header {
  display: none !important;
}

.top-sponsor-block {
  @border_width: 2px;
  margin-bottom: 40px;
  &::before,
  .box {
    border: @border_width solid currentColor;
  }
  &::before {
    display: inline-block;
    padding: 8px 20px;
    border-bottom-color: #fff; // hides border from .box
    margin-bottom: -@border_width; // hides border from .box
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
  .box {
    padding: 20px;
    text-align: center;
    @media (max-width: 767px) {
      padding: 5px;
    }
  }
  img {
    .low-logos-large;
    margin: 20px;
    @media (max-width: 989px) {
      .low-logos-medium;
    }
    @media (max-width: 767px) {
      .low-logos-small;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.platinum {
  &::before,
  .box  {
    border-color: @color_platinum;
  }
  &::before {
    content: 'Platinum';
  }
  img {
    .top-logos-large;
    @media (max-width: 989px) {
      .top-logos-medium;
    }
    @media (max-width: 767px) {
      .top-logos-small;
    }
  }
}

.gold {
  &::before,
  .box  {
    border-color: @color_gold;
  }
  &::before {
    content: 'Gold';
  }
  img {
    .mid-logos-large;
    @media (max-width: 989px) {
      .mid-logos-medium;
    }
    @media (max-width: 767px) {
      .mid-logos-small;
    }
  }
}

.corporate {
  &::before,
  .box  {
    border-color: @color_corporate;
  }
  &::before {
    content: 'Corporate Sponsors';
  }
}

.silver {
  &::before,
  .box  {
    border-color: @color_silver;
  }
  &::before {
    content: 'Silver';
  }
}

.financial {
  &::before,
  .box  {
    border-color: @color_financial;
  }
  &::before {
    content: 'Financial Corporate Sponsors';
  }
}

.bronze {
  &::before,
  .box  {
    border-color: @color_bronze;
  }
  &::before {
    content: 'Bronze';
  }
}

.financial,
.bronze {
  a {
    font-size: 18px;
    font-weight: 700;
    &:not(:last-child)::after {
      content: '';
      padding-right: 12px;
      border-right: 1px solid currentColor; // currently #0c5fa8
      margin-right: 8px;
    }
  }
}
