
/**
 * NOTE
 * The Less in `_sponsors.less` will produce the following code.
 * Use it to copy-paste into any raw css file.
 *
.sponsor-container h2 {
  margin-bottom: 30px;
}
.top-sponsor-block img,
.coop-orgs-block img {
  margin: 20px;
}
@media (max-width: 767px) {
  .top-sponsor-block img,
  .coop-orgs-block img {
    margin-left: 0;
    margin-right: 0;
  }
}
.top-sponsor-block {
  margin-bottom: 40px;
}
.top-sponsor-block > .box-header {
  opacity: 0; height: 0;
}
.top-sponsor-block::before,
.top-sponsor-block .box {
  border: 2px solid currentColor;
}
.top-sponsor-block::before {
  display: inline-block;
  padding: 8px 20px;
  border-bottom-color: #fff !important;
  margin-bottom: -2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.top-sponsor-block .box {
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .top-sponsor-block .box {
    padding: 5px;
  }
}
.top-sponsor-block img {
  max-height: 90px;
  max-width: 202px;
}
@media (max-width: 989px) {
  .top-sponsor-block img {
    max-width: 140px;
    max-height: 62px;
  }
}
@media (max-width: 767px) {
  .top-sponsor-block img {
    max-width: 68px;
    max-height: 36px;
  }
}
.platinum::before,
.platinum .box {
  border-color: #cde1ec;
}
.platinum::before {
  content: 'Platinum';
}
.platinum img {
  max-width: 360px;
  max-height: 160px;
}
@media (max-width: 989px) {
  .platinum img {
    max-width: 250px;
    max-height: 110px;
  }
}
@media (max-width: 767px) {
  .platinum img {
    max-width: 120px;
    max-height: 65px;
  }
}
.gold::before,
.gold .box {
  border-color: #f8cd79;
}
.gold::before {
  content: 'Gold';
}
.gold img {
  max-width: 270px;
  max-height: 120px;
}
@media (max-width: 989px) {
  .gold img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .gold img {
    max-width: 90px;
    max-height: 48px;
  }
}
.corporate::before,
.corporate .box {
  border-color: #9ed8f9;
}
.corporate::before {
  content: 'Corporate Sponsors';
}
.silver::before,
.silver .box {
  border-color: #dbddde;
}
.silver::before {
  content: 'Silver';
}
.financial::before,
.financial .box {
  border-color: #9ed8f9;
}
.financial::before {
  content: 'Financial Corporate Sponsors';
}
.bronze::before,
.bronze .box {
  border-color: #d9c5ac;
}
.bronze::before {
  content: 'Bronze';
}
.financial a,
.bronze a {
  font-size: 18px;
  font-weight: 700;
}
.financial a:not(:last-child)::after,
.bronze a:not(:last-child)::after {
  content: '';
  padding-right: 12px;
  border-right: 1px solid currentColor;
  margin-right: 8px;
}
.coop-orgs-block {
  background-color: #e8eaeb;
  padding: 40px 15px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .coop-orgs-block {
    padding: 5px;
  }
}
.coop-orgs-block h2 {
  text-align: left;
}
.coop-orgs-block img {
  margin: 20px;
  max-width: 270px;
  max-height: 120px;
  opacity: .7;
}
@media (max-width: 989px) {
  .coop-orgs-block img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .coop-orgs-block img {
    max-width: 90px;
    max-height: 48px;
  }
}
 */
