@import "variables.less";

body,html {
    height: 100%;
    width: 100%;
}
body {
    font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, .navigation, .year-tabs, .button, button {
    font-family: "futura-pt", "Open Sans", "Arial", sans-serif;
}

.year-badge {
    background: @primary;
    width: 90px;
    h2 {
        padding: 40px 10px 10px 10px;
        margin: 0;   
    }
}

.year-badge-corner {
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 20px solid @primary;
}

.light {
    font-weight: 300;   
}

@media (min-width: 1370px) {
    .container {
       width: 1350px;
    }
}

.header, .footer, .summary-banner {
    .ic {
        margin: -7px;
    }
    .menu {
        margin-left: 0px;
    }

    color: #fff;
    a {
        display: block;
        &, &:visited, &:hover, &:focus, &:active { 
            color: #fff;
        }
    }
    h2 {
        padding-top: 40px;
        margin: 0px;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: 1199px) {
            font-size: 20px;
        }

        @media (max-width: 989px) {
            font-size: 18px;
            padding-top: 20px;
        }
    }

    h4 {
        font-style: italic;
        opacity: .7;

        @media (max-width: 1199px) {
            font-size: 14px;
        }
    }

    h5 {
        text-transform: uppercase;

        @media (max-width: 1199px) {
            font-size: 14px !important;
        }
    }

    .conference-logo {
        max-width: 85px;
        @media (max-width: 767px) {
            max-width: 45px;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }

    .navigation {
        background-color: @keyColor2;
        border-bottom: 6px solid @keyColor1;

        a {
            font-size: 18px;
            font-weight: 700;
            padding: 17px 24px;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;

            @media (max-width: 1199px) {
                font-size: 14px;
                padding: 12px 12px;
            }

            @media (max-width: 989px) {
                font-size: 13px;
                padding: 12px 7px;
            }
        }
    }

    .mobile-nav {
        background-color: @keyColor2;
        padding-left: 75px;
        text-align: right;
        border-bottom: 0px;
        a {
            padding: 11px 10px;
        }
    }
}

.col-container {
    display: table;
    table-layout: fixed;
    width: 100%;

    .logo-col, .auto-col, .side-nav-col {
        display: table-cell;
        vertical-align: top;

        @media (max-width: 767px) {
            display: block;
            width: 100% !important;
        }
    }
    .side-nav-col {
        width: 450px;
        @media (max-width: 1199px) {
            width: 385px;
        }
        @media (max-width: 989px) {
            width: 300px;
        }
    }
    .logo-col {
        width: 105px;

        @media (max-width: 1199px) {
            width: 75px;
            img {
                width: 60px;
            }
        }

    }
}
.footer .auto-col {
    .col-xs-2 {
        max-width: 68px;
    }
}

.header {
    color: #fff;
    background: @keyColor1;

    .container, .container-fluid {
        @media (max-width: 989px) {
            padding: 0 10px;
        }    
        @media (max-width: 767px) {
            padding: 0px;
        }    
    }

    .titles {
        background-color: @keyColor1;

        .auto-col {
            padding-right: 50px;

            @media (max-width: 767px) {
                padding-right: 0px;
            }
        }

        .side-nav-col {
            background-size: cover;
            background-position: 50% 0;
            position: relative;

            @media (max-width: 767px) {
                background-position: 50% 50%;
                height: 145px;
                max-width: 100%;
                margin-bottom: 8px;
            }


            h4.visible-xs {
                position: absolute;
                bottom: 0px;
                background: rgba(0,0,0,.85);
                display: block;
                width: 100%;
                margin: 0;
                padding: 10px;
            }
        }
    }
    .auto-col h2 {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }        
    }

    .conference-logo, h2 {
        padding-top: 20px;
    }
    .conference-logo {
        float: left;
        @media (max-width: 767px) {
            margin-left: 10px;
        }
    }

    .year-badge-wrapper {
        position: absolute;
        margin-left: -45px;
        @media (max-width: 767px) {
            top: 0px;
            left: 10px;
            margin: 0;
            zoom: 0.75;
            -ms-zoom: 0.75;
            -webkit-zoom: 0.75;
            -moz-transform:  scale(0.75,0.75);
            -moz-transform-origin: top center;
        }
    }

    .nav1 {
        a {
            border-bottom: 6px solid transparent;
            margin-bottom: -6px;
        }
        a:hover, a.active, .current-page {
            background-color: #e6f1f9;
            color: @primary;
            border-bottom: 6px solid #e6f1f9;
            .chevron-down { .sprite(17, 6); }
        }

        a.no-hover:hover, a.no-hover:active {
            background-color: transparent;
            opacity: .5;
            border-bottom: 6px solid transparent;
        }
    }

    .nav2 {
        background-color: @primary;
        text-align: center;
        a:hover {
            background-color: lighten(@primary, 5%);
        }
    }

    .navigation-level2 {
        background-color: #e6f1f9;
        position: absolute;
        right: 0px;
        left: 0px;
        z-index: 2;
        &.show-current-page {
            position: relative;
        }
        ul {
            display: none;
            margin-bottom: 0px;
            @media (min-width: 767px) {
                &.active, &.current-page {
                    display: block;
                }
            }

            li {
                display: inline-block;
                a {
                    color: @primary;
                    font-weight: 700;
                    padding: 14px 10px;
                }
            }
        }
    }

    .nav3 {
        padding: 5px 26px 29px 26px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }


    .right-header {
        text-align: center;
        a {
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 5px 10px;

            @media (max-width: 989px) {
                padding: 5px 0px;
                text-align: right;
                display: block;
            }
        }
    }

    h5 {
        font-weight: 600;
        font-size: 18px;
        @media (max-width: 767px) {
            padding: 10px;
            margin-top: 0px;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}
@media (max-width: 989px) {
    .table-responsive {
        width: 100%;
        border: none;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}

.toggleable-nav {
    display: none;
    a {
        display: block;
        color: #fff;
        font-weight: 600;
        margin-bottom: 8px;
        font-size: 13px;
        &:hover, &:focus, &:visited, &:active {
            color: #fff;
        }
    }
    .large {
        font-size: 14px;
    }
    .link-block {
        margin-bottom: 20px;
    }
    @media (max-width: 767px) {
        &.in {
            z-index: 10;
            background: @keyColor1;
            box-shadow: -4px 0px 0px rgba(0,0,0,.25);
            display: block;
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            padding: 20px;
            width: 90%;
            max-width: 350px;
            overflow: auto;
            .close-nav {
                display: block;
                position: absolute;
                top: 16px;
                right: 16px;
                z-index: 12;
                cursor: pointer;
            }
            .hidden-xs {
                display: block !important;
            }
        }
    }

}

.footer, .summary-banner {
    background-image: url(../img/pattern-bg.png);
    background-color: @keyColor1;
    .year-tabs {
        background-color: #fff;

        .tab-buttons {
            margin-bottom: 0;
        }
        
        li {
            display: inline-block;
        }

        .tab-button {
            color: @keyColor1;
            font-weight: 700;
            padding: 6px 20px;
            font-size: 24px;
            position: relative;
            text-decoration: none;
            &:hover {
                color: #1a1d22;
            }
            @media (max-width: 767px) {
                font-size: 16px;
                padding: 6px 12px;
            }
        }

        li.active .tab-button {
            color: #fff;
            cursor: default;
            background: @keyColor2;
            &:hover {
                color: #fff;
            }

            &::after {
                content: "";
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid @keyColor2;
                bottom: -15px;
                left: 50%;
                margin-left: -15px;
                position: absolute;
            }
        }
    }

    .link-block {
        margin-bottom: 20px;

        &.contact {
            .ic {
                margin-right: 9px;
                margin-left: -7px;
            }
        }

        &.connect {
            h3 {
                margin-bottom: 20px;
            }
            a {
                display: inline-block;
                margin-right: 9px;
                margin-left: 9px;
            }
        }
    }

    .title {
        .hidden-xs {
            margin-left: 120px;
            @media (max-width: 1199px) {
                margin-left: 85px;
            }
            margin-right: 20px;
        }
        h2 {
            @media (max-width: 767px) {
                margin-left: 15px;
            }
        }

    }

    .year-prev-next {
        h5 {
            font-weight: 600;
        }
        h2 {
            font-size: 20px;
            font-weight: 600;
            padding-top: 0px !important;
        }
        h4 {
            margin-bottom: 5px;
        }
    }

    .details {
        padding-top: 20px;
        font-weight: 600;

        h3 {
            opacity: .7;
            text-transform: uppercase;
            margin: 0;
            font-weight: 600;
            font-size: 18px;
            @media (max-width: 989px) {
                font-size: 14px;
            }
        } 
        a {
            @media (max-width: 989px) {
                margin-bottom: 6px;
            }
        }

        .large {
            font-size: 18px;
            font-weight: 600;
            @media (max-width: 989px) {
                font-size: 14px;
            }
        }

        .col2 .large {
            text-transform: uppercase;
        }

        .col3 .large {
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .col4 .large {
            margin: 10px;
        }

        h2 {
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

    }

    .copyright {
        padding: 20px;
        background: @primary;
        @media (max-width: 767px) {
            font-size: 10px;
        }

        a {
            display: inline;
        }

        img {
            margin-right: 20px;
        }
    }
}

.footer {
    .mobile-nav {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    h1 {
        font-size: 36px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 500;
        color: @keyColor2;
        @media (max-width: 989px) {
            font-size: 32px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    h3 {
        text-transform: uppercase;
        font-weight: 600;   
        font-size: 16px;
    }
    h4, h5 {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    p {
        margin: 0 0 20px;
    }
    .side-nav-col {
        padding: 20px 60px 0 60px;
        @media (max-width: 1199px) {
            padding: 20px 40px 0 40px;
        }
        @media (max-width: 767px) {
            padding: 0px;
        }
    }
    table {
        width: 100%;
        margin-bottom: 20px;
        td, th {
            padding: 10px;
            border: 1px solid #e8eaeb;
        }
        thead > tr > td,
        thead > tr > th, {
            background-color: #f4f4f5;
            font-weight: 600;
            font-size: 13px;
        }
        tbody>tr:nth-child(even)>td, 
        tbody>tr:nth-child(even)>th {
            background-color: #f4f4f5;
        }

        &.no-stripe {
            tbody>tr:nth-child(even)>td, 
            tbody>tr:nth-child(even)>th {
                background-color: #fff;
            }
        }
        &.no-border {
            td, th {
                border: 1px solid transparent;
                border-bottom: 1px solid #e8eaeb;
            }
        }
    }
}

.side-nav-col {
    .callout {
        margin-bottom: 40px;
        width: 100%;

        h2 {
            font-weight: 400;
        }
        .callout-body {
            background-image: url(../img/pattern-bg-fade.png);
            background-repeat: repeat-x;
            background-position: top center;
            padding: 18px 20px 0 20px;

            img {
                max-width: 100%;
            }
        }
        &.no-bg .callout-body {
            background-image: none;
            border-top: 2px solid #f0f1f1;
        }
    }
}

.container {
    width: 100% !important;
    max-width: 1400px;
}

.ic {
    vertical-align: middle;
    position: relative;
    text-indent: -9999px;
    top: -2px;
    .sprite("../img/sprite.png", 30px, 590px, 330px, 0px);
    &.menu { .sprite(10, 9); }
    &.home { .sprite(17, 4); }
    &.close-nav { .sprite(7, 9); }
    &.download { .sprite(10, 4)}
    &.contact {.sprite(5, 8); }
    &.contact-large {.sprite(17, 3); }
    &.contact-blue {.sprite(5, 6); }
    &.telephone {.sprite(4, 6); }
    &.chat {.sprite(6, 6); }
    &.mobile-phone {.sprite(17, 2); }
    &.chevron-down { .sprite(17, 5); }
    &.linkedin  { .sprite(1, 9)}
    &.facebook  { .sprite(2, 9)}
    &.twitter  { .sprite(3, 9)}
    &.youtube  { .sprite(4, 9)}
    &.google  { .sprite(5, 9)}
    &.collapse-icon { .sprite(3, 6);}
}

.twitter-large {
    background-position: -540px 0px;
    width: 50px;
    height: 60px;
}
.facebook-large {
    background-position: -540px -60px;
    width: 50px;
    height: 60px;
}
.google-large {
    background-position: -540px -120px;
    width: 50px;
    height: 60px;
}

.collapsed .collapse-icon {
    .sprite(2, 6);
}

.collapse-icon {
    position: absolute;
    margin-left: -45px;
    top: initial;
    margin-top: -6px;
}
.panel-heading:hover .collapse-icon {
    .sprite(3, 6);
}

.panel-heading.collapsed:hover .collapse-icon {
    .sprite(2, 7);
}

hr {
    margin-top: 0px;
    border-top: 2px solid #f4f4f5;
}

button, a.button {
    background-color: @primary;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border: none;
    padding: .5em 1em;
    border-radius: 3px;
    box-shadow: 0px 2px 0px #cdcdcd;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover, a:visited, a:focus {
        background-color: lighten(@primary, 5%);
        color: #fff;
        text-decoration: none;
    }
}

ul, ol {
    margin-bottom: 20px;
    padding-left: 1.9em;
}

ul {
    list-style-type: disc;
}

ul ul, ol ol {
    margin-bottom: 0;
}

ul > li {
    list-style-image: url(../img/li-bullet.png);
}

ul ul li {
    list-style-image: none;
}


input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    border-radius: 1px;
    border: 1px solid #b3b8bc;
    box-shadow: inset 0px 1px 2px #e8eaeb;
    outline: none;
    padding: 8px;
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    height: 38px;

    &:focus {
        border-color: #97d5e9;
    }
}

label {
    display: block;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;

    em {
        color: red;
    }
}

form {
    display: inline-block;
    width: 100%;
    background-color: #f4f4f5;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
}

.panel-default>.panel-heading {
    position: relative;
    background-color: #f4f4f5;
    border-color: #f4f4f5;
    border-left: 30px solid #0d71c8;
    border-radius: 0;
    &.collapsed {
        border-left:30px solid #dbe7f2;
    }
    &:hover {
        border-left: 30px solid #0d71c8;
    }
    p {
        margin-bottom: 0px;
        margin-top: 5px;
        font-weight: 600;
    }
    h2 {
        color: @primary;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px;
    }
}
.panel-heading {
    cursor: pointer;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-color: #f4f4f5;
}
.panel-default {
    border-color: #f4f4f5;
    box-shadow: none;
}

.panel-group .panel {
    border-radius: 0;
}
.panel-body {
    padding-bottom: 0px;
}

.summary-banner {
    padding-left: 10px;
    padding-bottom: 10px;
    @media (max-width: 1199px) {
        .col-container .logo-col {
            width: 105px;
        }
    }
    h2 {
        margin-top: 0px;
        padding-top: 10px;
        font-weight: 700;
        font-size: 30px;
    }
    .year-badge {
        h2 {
            margin-bottom: 0px;
        }
    }
    h3 {
        float: left;
        margin-right: 20px;
    }
    h4 {
        font-style: normal;
    }
    margin-bottom: 20px;
}

.coop-orgs-block {
    background-color: #e8eaeb;
    padding: 40px 15px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 767px) {
        padding: 5px;
    }
    h2 {
        text-align: left;
    }
    img {
        margin: 20px;
        max-height: 160px;
        max-width: 360px;
        opacity: .7;
        @media (max-width: 989px) {
            max-width: 250px;
            max-height: 110px;
        }
        @media (max-width: 767px) {
            margin-left: 0px;
            margin-right: 0px;
            max-width: 120px;
            max-height: 65px;
        }
    }
}

.sponsor-container {
    h2 {
        margin-bottom: 30px;
    }
    .top-sponsor-block {
        margin-bottom: 40px;
        .box {
            border: 2px solid orange;
            padding: 20px;
            @media (max-width: 767px) {
                padding: 5px;
            }
            text-align: center;
            img {
                margin: 20px;
                max-height: 160px;
                max-width: 360px;
                @media (max-width: 989px) {
                    max-width: 250px;
                    max-height: 110px;
                }
                @media (max-width: 767px) {
                    margin-left: 0px;
                    margin-right: 0px;
                    max-width: 120px;
                    max-height: 65px;
                }
            }
        }
        .box-header {
            border: 2px solid orange;
            border-bottom: none;
            background: #fff;
            margin-bottom: -2px;
            display: inline-block;
            padding: 8px 20px;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
        }
        &.platinum {
            .box-header, .box  {
                border-color: #cde1ec;
            }
        }
        &.gold {
            .box-header, .box  {
                border-color: #f8cd79;
            }
        }
         &.silver {
            .box-header, .box  {
                border-color: #dbddde;
            }
        }
        &.financial {
            .box-header, .box  {
                border-color: #9ed8f9;
            }
        }
        &.bronze {
            .box-header, .box  {
                border-color: #d9c5ac;
            }
        }
        &.corporate {
            .box-header, .box  {
                border-color: #9ed8f9;
            }
        }

        &.financial, &.bronze {
            a:first-child {
                padding-left: 0px;
            }
            a {
                font-size: 18px;
                font-weight: 700;
                border-right: 1px solid #0c5fa8;
                padding-right: 12px;
                padding-left: 8px;
            }
            a:last-child {
                border-right: 0px;
            }
        }
    }
}

.logo-grid {
    table { 
        table-layout: fixed;
        td {
            word-wrap: break-word;
            img {
                max-width: 100%;
                max-height: 130px;
                display: block;
                margin: auto auto;
                margin-bottom: 15px;
            }
            @media (max-width: 767px) {
                display: block;
                width: 100% !important;
                padding: 0px;
                text-align: left;
                img {
                    margin: 0 0 15px 0;
                }
            }
            @media (max-width: 950px) {
                display: block;
                width: 100% !important;
                padding: 0px;
                text-align: left;
                img {
                    margin: 0 0 15px 0;
                }
            }
            border: none;
            background: none;
            padding: 25px;
            vertical-align: bottom;
            a {
                font-weight: 700;
            }
        }
    }

}

a {
    color: @primary;
    &:hover {
        color: #19a1cf;
    }
}

.person-name {
    font-size: 18px;
    text-transform: none;
}
.person-title {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 10px;
}

.speaker-profile {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: 989px) {
        display: block;
        width: 100%;
    }
    .session-col, .photo-col, .details-col {
        display: table-cell;
        vertical-align: middle;
    }
    .details-col {
        @media (max-width: 989px) {
            display: block;
            width: 100%;
        }
    }
    .dateline {
        border-right: 1px solid #ccc;
        padding-left: 0px;
        letter-spacing: 2px;
        @media (max-width: 989px) {
            border-right: none;
        }

    }
    .photo-col {
        width: 130px;
        padding: 0 10px 0 5px;
    }
    .sessiontype {
        padding-right: 0px;
        letter-spacing: 2px;
    }
    .session-col {
        text-transform: uppercase;

    }
    button {
        margin-bottom: 0;
    }
    img {
        max-width: 100%;
        max-height: 130px;
    }
    p {
        margin-bottom: 0px;
    }
}


.register {
    margin-bottom: 0px !important;
    margin-top: 20px;
    a {
        display: inline-block;
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 20px;
    }
    img {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
.content {
    .sponsor-opportunities {
        margin-top: 20px;
        th {
            background: #e6f1f9;
            padding: 4px 8px;
        }
        td {
            padding: 5px 8px;   
        }
    }
    .recognition {
        h3 {
            color: #333;
            font-size: 18px;
            margin: 0;
            text-align: left;
        }
        td, th {
            padding: 5px 8px;
        }
        th {
            background: #fff;
            text-align: center;
            font-weight: 700;
            color: @primary;
            font-size: 14px;
            text-transform: uppercase;
        }
        th:nth-child(even), td:nth-child(even)  {
            background: #f5f6f6 !important;
        }
        td {
            text-align: center;
        }
        td:first-child {
            text-align: left;
        }
    }
}

.important-dates {
    .callout-body {
        display: table;
        width: 100%;
        padding-left: 5px !important;
    }
    .date-block {
        display: table-row;
        .date-col, .description-col {
            display: table-cell;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .date-col {
            padding-right: 2px;
            text-align: right;
            font-size: 12px;
            min-width: 90px;
            .date {
                font-weight: 600;
                font-size: 14px;
                &::after {
                    content: " ";
                    display: block;
                    float: right;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    height: 38px;
                    width: 0px;
                    border-right: 1px solid #ccc;
                }
            }
        }
        .description-col {
            font-size: 12px;
            padding-left: 8px;
        }
    }
}

.callout.sponsors {
    .callout-body {
        text-align: center;
        img {
            max-height: 130px;
        }
    }
}
.callout.contacts {
    line-height: 26px;
}

.introduction {
    background-color: @keyColor1;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    h1 {
        font-size: 26px;
        color: #fff;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media (max-width: 989px) {
            font-size: 22px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }

    }
    .intro {
        @media (max-width: 989px) {
            font-size: 16px;
            line-height: 20px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 18px;
        }

    }
    img {
        max-width: 100%;
        display: block;
        margin: auto auto;
    }
    .img-fade {
        height: 50px;
        width: 100%;
        position: absolute;
        margin-top: -49px;
        padding: 0px;
        background: -moz-linear-gradient(top, fade(@keyColor1, 0%) 0%, @keyColor1 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@keyColor1, 0%)), color-stop(100%,@keyColor1)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, fade(@keyColor1, 0%) 0%,@keyColor1 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, fade(@keyColor1, 0%) 0%,@keyColor1 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, fade(@keyColor1, 0%) 0%,@keyColor1 100%); /* IE10+ */
        background: linear-gradient(to bottom, fade(@keyColor1, 0%) 0%,@keyColor1 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='fade(@keyColor1, 0%)', endColorstr='@keyColor1',GradientType=0 ); /* IE6-9 */
    }

    a, a:hover, a:visited, a:active {
        color: #fff;
    }
    a:hover {
        opacity: .5;
    }

    &>div {
        padding: 10px 30px;
    }
}

.key-links {
    a {
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 20px;
        display: inline-block;
        &::after {
            content: "";
            display: inline-block;
            .sprite("../img/sprite.png", 30px, 590px, 330px, 0px);
            .sprite(10, 6);
            margin-top: -7px;
            margin-bottom: -7px;
            position: relative;
            top: 1px;
        }
    }
    a[href$=".pdf"]::after {
        display: inline-block;
        background: @primary;
        content: "PDF";
        height: auto;
        width: auto;
        margin-left: 8px;
        padding: 1px 4px;
        position: relative;
        top: -1px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
    }
}



a[href^="mailto:"] {
    &::before {
        content: "";
        display: inline-block;
        .sprite("../img/sprite.png", 30px, 590px, 330px, 0px);
        .sprite(5, 6);
        margin-top: -7px;
        margin-right: 6px;
        position: relative;
        top: 4px;
        margin-bottom: -7px;
    }   
}

.footer .link-arrow {
    margin-bottom: 20px !important;
    font-size: 18px;
    &::after {
        .sprite(7, 6);
    }

    @media (max-width: 1199px) {
        font-size: 16px;
        margin-bottom: 16px !important;
    }

}

.asce-logo {
    background-image: url('../img/asce-logo-footer.png');
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 233px;
    height: 30px;
    @media (max-width: 1199px) {
        background-image: url('../img/asce-logo-footer-small.png');
        width: 73px;
        height: 23px;
    }
}

.breadcrumb-link {
    font-weight: 700;
    margin-top: 25px;
    display: inline-block;
}


.share-logos {
    font-weight: 600;
    margin-top: 10px;
    font-size: 13px;
}



.live-chat {
    font-size: 18px;
    font-weight: 600;
    color: #62b840;
    &::before {
        content: "";
        display: inline-block;
        .sprite("../img/sprite.png", 30px, 590px, 330px, 0px);
        .sprite(6, 6);
        margin-top: -7px;
        margin-right: 6px;
        margin-bottom: -7px;
    }
    span {
        color: #333;
        font-size: 12px;
    }
}

.phone {
    &::before {
        content: "";
        display: inline-block;
        .sprite("../img/sprite.png", 30px, 590px, 330px, 0px);
        .sprite(4, 6);
        margin-top: -7px;
        margin-right: 6px;
        margin-bottom: -7px;
    }
}

/* AUTHOR */
