# OS system files
.DS_Store
Thumbs.db

config.codekit

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#shoul-i-check-my-node_modules-folder-into-git
node_modules

# Logs
logs
*.log
