doctype html
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!-->
html.no-js
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Sponsors | Sample ASCE Conference
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- script(src="//use.typekit.net/imj1jdn.js")
    //- script try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="./css/futura.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,700italic,400,600,700")
    link(rel="stylesheet", href="./css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="./styles/chewie.css")
    link(rel="stylesheet", href="./styles/conference.css")
    <!--[if lt IE 9]> <script src="./js/vendor/html5-3.6-respond-1.1.0.min.js"></script> <![endif]-->
  body
    <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    div.toggleable-nav.fade
      div.ic.close-nav(tabindex="0") X
      div.link-block
        a.large.uppercase(href="./") Home
      div.link-block
        a.large.uppercase(href="") Program
        a(href="") Speakers
        a(href="") Exhibitor List
        a(href="") ASCE Communities &amp; Pavilions
      div.link-block
        a.large.uppercase(href="") Location
        a(href="") Lodging &amp; Transportation
        a(href="") For International Travel
      div.link-block
        a.large.uppercase(href="") About
        a(href="") Cooperating Organizations
        a(href="") Volunteer
      a.large.uppercase(href="") Why Attend
      a.large.uppercase(href="") Registration
      a.large.uppercase(href="") For Speakers
      a.large.uppercase(href="./sponsors.html") Sponsors
      a.large.uppercase(href="") Exhibitors
    div.header
      div.visible-xs.mobile-nav.navigation
        div.year-badge-wrapper
          div.year-badge.text-center
            h2 #[span.light 20]15
          div.year-badge-corner
        a(href="./") #[span.ic.home]
        a(href="") Register
        a.menu-toggle(href="") Menu #[span.ic.menu]
      div.container-fluid.titles
        div.container
          div.col-container
            div.logo-col.text-center
              a(href="./")
                img.conference-logo(src="./img/conf-logo.png")
            div.auto-col
              h2 2ND T&amp;DI GREEN STREETS, HIGHWAYS &amp; DEVELOPMENT CONFERENCE
                h5 Boston, Massachusetts  |  April 3&ndash;5, 2014
              h4.hidden-xs Optional Tagline for the Conference Goes Here Lorem Ipsum
            div.side-nav-col.hidden-xs(style="background-image: url('./img/fpo-header.jpg');")
              div.year-badge-wrapper.hidden-xs
                div.year-badge.text-center
                  h2 #[span.light 20]14
                div.year-badge-corner
              div.right-header.hidden-xs
                div.nav3
                  a(href="") For Speakers
                  a(href="./sponsors.html") Sponsors
                  a(href="") Exhibitors
      div.container-fluid.navigation.hidden-xs
        div.container
          div.col-container
            div.auto-col
              div.nav1
                a.no-hover(href="./")                          #[span.ic.home]
                a(href="", data-menu-target="#programlevel2")  Program  #[span.ic.chevron-down]
                a(href="", data-menu-target="#locationlevel2") Location #[span.ic.chevron-down]
                a(href="", data-menu-target="#aboutlevel2")    About    #[span.ic.chevron-down]
                a.no-hover.hidden-md.hidden-lg(href="")        #[span.ic.contact Contact]
                a.hidden-sm.hidden-xs(href="")                 Contact
            div.side-nav-col
              div.nav2
                a(href="") Why Attend
                a(href="") Registration
      div.container-fluid.navigation-level2.show-current-page
        div.container
          ul.list-unstyled#programlevel2
            li: a(href="") Speakers
            li: a(href="") Exhibitor List
            li: a(href="") ASCE Communities &amp; Pavilion
          ul.list-unstyled#locationlevel2
            li: a(href="") Lodging &amp; Transportation
            li: a(href="") For International Travel
          ul.list-unstyled#aboutlevel2
            li: a(href="") Cooperating Organizations
            li: a(href="") Volunteer
    div.container-fluid
      div.container.content
        div.col-container
          div.auto-col
            h1 SPONSOR THE 2014 CONFERENCE
            div.share-logos SHARE
              img(src="./img/fpo-share-logos.png")
            br
            h2 Get your company in the spotlight
            br
            p Introductory copy e.g. Promote your company to the engineering community at Structures Congress 2014. As a forum for the best minds in civil engineering, this conference will be a prime opportunity to showcase your company or product.
            div.key-links
              a(href="./test.pdf")  Sponsor Prospectus
              a(href="./test2.pdf") Sponsor Contract
              a(href="") Sponsor Toolkit
            br
            br
            br
            h3 Sponsorshp Opportunities At A Glance
            div.table-responsive
              table.sponsor-opportunities.no-stripe.no-border
                tbody
                  tr
                    th(colspan="4"): a.link-arrow(href="") PLATINUM LEVEL
                  tr
                    th Special Friday Evening Reception
                    td $25,000
                    td Limit: 1
                    td #[span.flag sold out]
                  tr
                    th Awards Luncheon
                    td $20,000
                    td No Limit
                    td
                  tr
                    td
                    td
                    td
                    td
                  tr
                    th(colspan="4"): a.link-arrow(href="") GOLD LEVEL
                  tr
                    th Congress Padfolio
                    td $12,500
                    td Limit: 1
                    td
                  tr
                    th Thursday Welcome Reception in Exhibit Hall
                    td $10,000
                    td Limit: 1
                    td #[span.flag sold out]
                  tr
                    td
                    td
                    td
                    td
                  tr
                    th(colspan="4"): a.link-arrow(href="") SILVER LEVEL
                  tr
                    th Exhibit Hall Giveaways
                    td $10,000
                    td Limit: 2
                    td 1 SOLD
            br
            br
            div.table-responsive
              table.recognition.no-stripe.no-border
                thead
                  tr
                    th RECOGNITION BENEFITS
                    th: a(href="") Platinum
                    th: a(href="") Gold
                    th: a(href="") Silver
                    th: a(href="") Corporate
                    th: a(href="") Bronze
                    th: a(href="") Copper
                tbody
                  tr
                    td Full conference registration
                    td 4
                    td 2
                    td 2
                    td 
                    td 
                    td 
                  tr
                    td Tickets to sponsored event (if applicable)
                    td 8
                    td 4
                    td 
                    td 
                    td 2
                    td 
                  tr
                    td Attendee registration list pre- and post-congress
                    td: span.checkmark
                    td: span.checkmark
                    td: span.checkmark
                    td
                    td
                    td
                  tr
                    td Lectern recognition at all opening and closing Plenary Sessions
                    td: span.checkmark
                    td: span.checkmark
                    td: span.checkmark
                    td
                    td
                    td
                  tr
                    td Link on conference website
                    td logo
                    td logo
                    td logo
                    td name
                    td name
                    td name
                  tr
                    td Link on conference website
                    td logo
                    td logo
                    td logo
                    td name
                    td name
                    td name
            br
            br
          div.side-nav-col
            div.callout.contacts
              h2 Contacts
              div.callout-body
                strong John Smith
                br
                div.phone 703-123-4567
                a(href="mailto:jsmith@asce.org") jsmith@asce.org
                br
                br
                strong Jane Doe
                br
                div.phone 703-123-4567
                a(href="mailto:jdoe@asce.org") jdoe@asce.org
            div.callout
              h2 BENEFITS
              div.callout-body
                ul
                  li Standard UL List
                  li Same look as core site
                  li #[a(href="") Lorem ipsum]
                    ul
                      li Standard UL List
                      li Same look as core site
                      li #[a(href="") Lorem ipsum]
            div.callout.important-dates
              h2 IMPORTANT DATES #[br] for sponsors
              div.callout-body
                div.date      Dec 18, 2013
                div.milestone Lorem ipsum deadline
                br
                div.date      Feb 12, 2013
                div.milestone LOGOS DUE
                br
                div.date      MAR 26, 2014
                div.milestone Conference registration deadline
                br
                p If your sponsorship includes conference registration tickets, register your attendees by this date.
                p: strong See #[a(href="") Sponsor Toolkit] for more details.
    div.container-fluid.content
      div.container.sponsor-container
        h2 Thank you to our 2014 sponsors!
        p The generous contributions from the following sponsors enable our conference to continue its commitment to excellence in programming and networking events for the attendees.
        br
        div.top-sponsor-block.platinum
          div.box
            img(src="./img/sponsor_logo_horizontal2.gif" , alt="")
            img(src="./img/sponsor_logo_horizontal1.gif" , alt="")
        div.top-sponsor-block.gold
          div.box
            img(src="./img/Sponsorlogo_square1.gif"      , alt="")
            img(src="./img/sponsor_logo_horizontal3.gif" , alt="")
            img(src="./img/sponsor_logo_horizontal4.gif" , alt="")
        div.top-sponsor-block.corporate
          div.box
            img(src="./img/sponsor_logo_horizontal3.gif" , alt="")
            img(src="./img/sponsor_logo_horizontal4.gif" , alt="")
        div.top-sponsor-block.silver
          div.box
            img(src="./img/Sponsorlogo_square3.gif"      , alt="")
            img(src="./img/sponsor_logo_horizontal2.gif" , alt="")
            img(src="./img/Sponsorlogo_square2.gif"      , alt="")
            img(src="./img/sponsor_logo_horizontal1.gif" , alt="")
        div.top-sponsor-block.bronze
          div.box
            a(href="") ExpoFactor
            a(href="") K Chen International
            a(href="") LeCorbusee
            a(href="") McMalley/daSilva
        div.top-sponsor-block.financial
          div.box
            a(href="") ExpoFactor
            a(href="") K Chen International
            a(href="") LeCorbusee
            a(href="") McMalley/daSilva
      div.coop-orgs-block.row
        div.container
          h2 COOPERATING ORGANIZATIONS
          img(src="./img/cooplogo_square1.gif"     , alt="")
          img(src="./img/cooplogo_horizontal1.gif" , alt="")
          img(src="./img/cooplogo_horizontal2.gif" , alt="")
          img(src="./img/cooplogo_horizontal3.gif" , alt="")
          img(src="./img/cooplogo_square4.gif"     , alt="")
          img(src="./img/cooplogo_horizontal4.gif" , alt="")
          img(src="./img/cooplogo_square2.gif"     , alt="")
    div.footer.container-fluid
      div.row.year-tabs
        div.container
          ul.tab-buttons.pull-right.list-unstyled
            li:        a.tab-button(data-toggle="tab", href="#yearprev")    2013
            li.active: a.tab-button(data-toggle="tab", href="#yearpresent") 2014
            li:        a.tab-button(data-toggle="tab", href="#yearnext")    2015
      div.tab-content
        div#yearprev.tab-pane
          div.row.title
            div.container
              div.hidden-xs.pull-left
                div.year-badge.text-center
                  h2 #[span.light 20]13
                div.year-badge-corner
              h2 1st T&amp;DI Green Streets, Highways &amp; Development Conferencex
          div.row.details.year-prev-next
            div.container
              div.col-container
                div.logo-col.hidden-xs.text-center
                  img.conference-logo(src="./img/conf-logo.png")
                div.auto-col
                  div.col-sm-12.col-xs-10.col4
                    h2 TORONTO, CANADA  |  MAY 2&ndash;4, 2013
                    h3 Baylord Hotel
                    h4 Lorem Ipsum Optional Tagline for the Conference Goes Here
                    p: strong lorem ipsum optional theme or a brief description of this conference. dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum.
                    a.link-arrow(href="") Program
                    a.link-arrow(href="") Proceedings
        div#yearpresent.tab-pane.active
          div.row.title
            div.container
              div.hidden-xs.pull-left
                div.year-badge.text-center
                  h2 #[span.light 20]14
                div.year-badge-corner
              h2 2nd T&amp;DI Green Streets, Highways &amp; Development Conference
          div.row.details
            div.container
              div.col-container
                div.logo-col.hidden-xs.text-center
                  img.conference-logo(src="./img/conf-logo.png")
                div.auto-col
                  div.col-sm-4.hidden-xs
                    div.link-block
                      a.large.uppercase(href="./") Home
                    div.link-block
                      a.large.uppercase(href="") Program
                      a(href="") Speakers
                      a(href="") Exhibitor List
                      a(href="") ASCE Communities &amp; Pavilions
                    div.link-block
                      a.large.uppercase(href="") Location
                      a(href="") Lodging &amp; Transportation
                      a(href="") For International Travel
                    div.link-block
                      a.large.uppercase(href="") About
                      a(href="") Cooperating Organizations
                      a(href="") Volunteer
                  div.col-sm-4.col3.hidden-xs
                    a.large(href="") Why Attend
                    a.large(href="") Registration
                    a.large(href="") For Speakers
                    a.large(href="./sponsors.html") Sponsors
                    a.large(href="") Exhibitors
                  div.pull-left.col-xs-2.visible-xs: img.conference-logo(src="./img/conf-logo.png")
                  div.col-sm-4.col-xs-10.col4
                    div.link-block.contact
                      h3 Contact Us
                      a.large(href="") #[span.ic.mobile-phone] (800) 548-2723
                      a.large(href="") #[span.ic.twitter] #structures2014
                      a.large(href="") #[span.ic.contact-large] Other contacts
                    div.link-block.connect
                      h3 Connect With ASCE
                      a(href=""): span.ic.linkedin
                      a(href=""): span.ic.facebook
                      a(href=""): span.ic.twitter
                      a(href=""): span.ic.youtube
                      a(href=""): span.ic.google
          div.visible-xs.mobile-nav.navigation
            a(href="") #[span.ic.home]
            a(href="") Register
            a.menu-toggle(href="") Menu #[span.ic.menu]
        div#yearnext.tab-pane
          div.row.title
            div.container
              div.hidden-xs.pull-left
                div.year-badge.text-center
                  h2 #[span.light 20]16
                div.year-badge-corner
              h2 3rd T&amp;DI Green Streets, Highways &amp; Development Conference
          div.row.details.year-prev-next
            div.container
              div.col-container
                div.logo-col.hidden-xs.text-center
                  img.conference-logo(src="./img/conf-logo.png")
                div.auto-col
                  div.col-sm-12.col-xs-10.col4
                    h2 Mexico City, Mexico  |  April 30 &ndash;  May 2, 2015
                    h3 Fuentes Conference center
                    h4 Lorem Ipsum Optional Tagline for the Conference Goes Here
                    p: strong lorem ipsum optional theme or a brief description of this conference. dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum.
                    a.link-arrow(href="") Call for submissions
                    a.link-arrow(href="./sponsors.html") Sponsors
                    a.link-arrow(href="") Exhibit
      div.row.copyright.text-center
        div.container
          div.asce-logo
          span Copyright © 1996&ndash;2014, American Society of Civil Engineers | #[a(href="") ASCE.org]
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="./js/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src="./js/vendor/bootstrap.min.js")
    script(src="./js/vendor/jquery.hoverIntent.min.js")
    script(src="./bower_components/jquery-cycle2/build/jquery.cycle2.min.js")
    script(src="./js/main.js")
