doctype html
html
  head
    title Objects | Styleguide
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../css/futura.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,700italic,400,600,700")
    link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="../styles/chewie.css")
    link(rel="stylesheet", href="./styleguide.css")
  body
    main
      h1 Objects
      section.doc-ss
        h2 List Grid (.o-ListGrid)
        p.
          A List Grid is simply a list of items arranged like blocks in a grid.
          It has the structure of a list in that all items share the same container
          (unlike tables where items are in different rows), while at the same time
          appearing like a table with rows and columns.
          The List Grid is flexible and responsive, adjusting the number of
          columns based on screen size.
        p.
          The container must have the #[code .o-ListGrid] class and
          each item must have the #[code .o-ListGrid__Item] class.
        figure
            ul.o-ListGrid
              li.o-ListGrid__Item Burns &amp; McDonnell Engineering
              li.o-ListGrid__Item DIS-TRAN Steel, LLC
              li.o-ListGrid__Item EDM International
              li.o-ListGrid__Item Electrical Consultants, Inc.
              li.o-ListGrid__Item Fabrimet Inc.
              li.o-ListGrid__Item Falcon Steel Company
              li.o-ListGrid__Item Sabre-FWT
              li.o-ListGrid__Item HDR
              li.o-ListGrid__Item Mitas Energy
              li.o-ListGrid__Item Power Consulting Associates, LLC
              li.o-ListGrid__Item Power Line Systems, Inc.
              li.o-ListGrid__Item Quanta Services
              li.o-ListGrid__Item ReliaPOLE Inspection Services
              li.o-ListGrid__Item Sabre-FWT 
              li.o-ListGrid__Item SAE Towers
              li.o-ListGrid__Item TAPP Steel Poles 
              li.o-ListGrid__Item Trinity Meyer Utility Structures
              li.o-ListGrid__Item TRC Engineers
              li.o-ListGrid__Item Underground Devices 
              li.o-ListGrid__Item Valmont Newmark
