
/*################################*\
    legacy  |  _o-MobileBar.less
\*################################*/


.o-MobileBar {
  .flex-justify-content(flex-end);
  @media screen and (min-width: 45em) {
    display: none;
  }
}
.o-MobileBar {
  // Mast--nav colors
  .mx-bc-secondary();
  color: @g-color-mast-txt;
}
.o-MobileBar__Item {
  .flex(0);
  padding: 0.5rem;
  &,
  &:hover,
  &:focus {
    color: inherit; // unset `a`
  }
}
