
/*################################*\
    legacy  |  _o-MobileBar.less
\*################################*/


// Top bar on mobile devices.
// Contains home button and hamburger menu button.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-06-11
.o-MobileBar {
  justify-content: flex-end;
  @media screen and (min-width: 45em) {
    display: none;
  }
}
.o-MobileBar {
  // Mast--nav colors
  .mx-bc-secondary();
  color: @g-color-mast-txt;
}
.o-MobileBar__Item {
  flex: 0;
  padding: (0.5 * @g-vru) 1rem; // HACK fallback
  padding: calc(~'0.5 * var(--vru)') 1rem;
  &,
  &:hover,
  &:focus {
    color: inherit; // unset `a`
  }
}
