
/*################################*\
    __settings.less
\*################################*/


// use this for setting other things to the body background
@color_body_bg: #fff;

@color_primary: #0c5fa8;
@color_key1: #6a9556;
@color_key2: #7aa96c;
@color_key3: #6c965e;

@color_link: @color_primary; // for links and things same color as link
@color_link_hover: #19a1cf;
@color_link_navbg: #e6f1f9;


@color_header: @color_body_bg;

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";


@color_platinum:  #cde1ec;
@color_gold:      #f8cd79;
@color_corporate: #9ed8f9;
@color_silver:    #dbddde;
@color_bronze:    #d9c5ac;
@color_copper:    #d6a985;
