
/*################################*\
    __settings.less
\*################################*/


/*++++++++++++++++++++++++++++++++*\
    ASCE COMPANY COLORS
\*++++++++++++++++++++++++++++++++*/
@color_asce_primary: #0c5fa8;
@color_asce_body_bg: #fff;
@color_asce_body_txt: #333;
@color_asce_header_txt: #fff;

// ASCE button colors
@color_asce_btn_bg: @color_asce_primary;
@color_asce_btn_txt: #fff;
@color_asce_btn_sw: #cdcdcd;

// ASCE inline hyperlink colors
@color_asce_link: @color_asce_primary;
@color_asce_link_hover: #19a1cf;


/*++++++++++++++++++++++++++++++++*\
    SPONSOR COLORS
\*++++++++++++++++++++++++++++++++*/
@color_platinum:  #cde1ec;
@color_gold:      #f8cd79;
@color_corporate: #9ed8f9;
@color_silver:    #dbddde;
@color_bronze:    #d9c5ac;
@color_copper:    #d6a985; // CH chose this; may be changed at any time <charvey@asce.org>
@color_coop_bg:   #e8eaeb; // bgcolor for coop orgs


/*++++++++++++++++++++++++++++++++*\
    CONFERENCE SITE-SPECIFIC COLORS
\*++++++++++++++++++++++++++++++++*/

// Sample site
@color_site_primary:   #6a9556;
@color_site_secondary: #7aa96c;
@color_site_accent:    #714509;

// Pipelines 2016
@color_pl_primary:   #006c67;
@color_pl_secondary: #717073;
@color_pl_accent:    #c1d8c5;

// CI Summit 2016
@color_ci_primary:   #21a0f2;
@color_ci_secondary: #5e6167;
@color_ci_accent:    #ffc72a;





// -------------------- DRAFT BELOW ------------------------

// flag colors
@color_flag: #ed1c24; // default
@color_note_bg: #fef0c1;
@color_note_br: #fdcd2f;


// other colors
@color_livechat: #62b840; // okay random

// UI fonts
@font_ui: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";
