
/*################################*\
    _base.less
\*################################*/

body,html {
  // what purpose does this serve?
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}
h1, h2,
button {
  // this looks like a UI font. can we make it a variable?
  font-family: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
}

.navigation, .year-tabs, .button {
  // just gonna put this here for now. move it later.
  font-family: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
}
