
/*################################*\
    chewie  |  _c-SponsorCarousel.less
\*################################*/


// Carousel for all sponsors.
// NOTE everything in this stylesheet is taken from the Conf repo
// so developemnt will not be maintained here.
//
// ^subcomponents
// __Item  - item in list
// __Logo  - cosmetic styles for sponsor logo
// __Label - label for sponsor in carousel
// ^author
// : Chris Harvey
// ^updated
// : 2016-06-21
.c-SponsorCarousel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-flex-wrap: nowrap;
       -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
       -moz-justify-content: space-around;
        -ms-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
            align-items: center;
  padding-left: 0;
  line-height: inherit;
  text-align: center;
  list-style: none;
}

.c-SponsorCarousel__Item {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -webkit-flex: 1;
         -moz-flex: 1;
          -ms-flex: 1;
              flex: 1;
  &:not(:last-child) {
    padding-right: 1rem;
    @media screen and (min-width: 45em) {
      padding-right: 2rem;
    }
  }
}

.c-SponsorCarousel__Logo {
  display: block;
  line-height: inherit;
  max-width: 120px;
  height: 65px;
  margin: auto;
  text-indent: -999999px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.c-SponsorCarousel__Label {
  font-weight: 800;
  font-size: 0.75em;
  color: #aaa;
}
