
/*################################*\
    _comp.ui.YearBadge.less
\*################################*/


// The YearBadge component represents the shield-like icon at the top
// of all pages containing the year (2015).
// Mixin .year-badge-mx() is a private tool to this component only.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-10-27
.year-badge-mx(@sizepx: 80px) {
  width: @sizepx;
  padding-top: (@sizepx/2);
  left: -(@sizepx/2);
  font-size: (@sizepx/4);
  // font-size: floor((@sizepx/3) / 10) * 10px; // rounds down to the nearest 10px
  &::after {
    @length: (@sizepx/4); // length of badge corner
    top: @length;
    border-width: (@sizepx/2);
    border-top-width: @length;
  }
}
.c-YearBadge {
  .year-badge-mx();
  @sizepx: 80px;
  @bgcolor: @color_asce_primary;
  display: none;
  position: absolute;
  font-weight: 700;
  font-family: @font_ui;
  text-align: center;
  letter-spacing: -2px;
  background: @bgcolor;
  color: @color_asce_header_txt;
  &::before {
    content: '20';
    font-weight: 300;
    letter-spacing: 1px;
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-top-color: @bgcolor;
    border-bottom: 0;
  }
  @media screen and (min-width: 45em) { // breakpoint M+ (@M)
    display: block;
  }
  @media screen and (min-width: 60em) { // breakpoint L+ (@G)
    .year-badge-mx(100px);
  }
  @media screen and (min-width: 75em) { // breakpoint XL+ (@T)
    .year-badge-mx(120px);
  }
}
.year-badge {
  width: 90px; // not sure why 90 is so special
  background: @color_asce_primary;
  color: @color_asce_header_txt;
  h2 {
    // remove this selector, move styles to parent component
    // add ta-c and stop using atom
    padding: 40px 10px 10px;
    margin: 0; // override h2 default margin, see what’s going on here?
    font-size: 30px; // override .header h2
  }
}
.year-badge-corner {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 20px solid @color_asce_primary;
}


// just putting this here for now
// later find a way to integrate it with .year-badge
.year-badge-wrapper {
  position: absolute;
  margin-left: -45px;
  @media (max-width: 767px) {
    display: none;
    // top: 0px;
    // left: 10px;
    // margin: 0;
    // zoom: 0.75;
    // -ms-zoom: 0.75;
    // -webkit-zoom: 0.75;
    // -moz-transform:  scale(0.75,0.75);
    // -moz-transform-origin: top center;
  }
}
