
/*################################*\
    _comp.Button.less
\*################################*/


// A button.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-27
button,
a.button {
    background-color: @color_primary;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border: none;
    padding: .5em 1em;
    border-radius: 3px;
    box-shadow: 0px 2px 0px #cdcdcd;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover, a:visited, a:focus {
        background-color: lighten(@color_primary, 5%);
        color: #fff;
        text-decoration: none;
    }
}
