
/*################################*\
    _comp.NavMain.less
\*################################*/


// NavMain is a main navigation component containing the main directories:
// program, location, about, and contact.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-27
.nav1 {
  a {
    @nav1_bb_width: 6px; // why 6?
    border-bottom: @nav1_bb_width solid transparent;
    margin-bottom: -@nav1_bb_width;
  }
  a:hover,
  a.active,
  .current-page {
    color: @color_asce_link;
    background-color: @color_site_accent;
    .chevron-down { .sprite(17, 6); } // only to change color
  }

  a.no-hover:hover,
  a.no-hover:active {
    background-color: transparent;
    opacity: .5;
  }
}
