
/*################################*\
    chewie  |  _comp.Hero.less
\*################################*/
@import (reference) url('__settings.less');


// The introduction section of the conference home page.
// Includes an image, heading and lede paragraph.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-31
.introduction {
  color: @color_asce_header_txt;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  .mx-bc-primary();
  img {
    display: block;
    width: 100%;
    margin: auto;
  }
  h1 {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 36px; font-size: 2.25rem;
    line-height: (1.25/2.25)*1.75;
    color: inherit !important; // not #fff // override .content h1 // !important override conf-spec
    text-transform: uppercase;
    @media (max-width: 989px) {
      font-size: 22px; font-size: 1.375rem;
      line-height: (1.25/1.375)*1.5;
    }
    @media (max-width: 767px) {
      font-size: 18px; font-size: 1.125rem;
      line-height: (1.25/1.125)*1.25;
    }
    &::before {
      @height: 50px;
      display:block;
      position: absolute;
      left: 0;
      width: 100%;
      height: @height;
      margin-top: -@height - @chewie_vru_px;
      content: '';
      .mx-bc-primary-fade(@height);
    }
  }
}
// the introduction (lede) paragraph, also known as "blurb"
.intro {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 20px; margin-bottom: 1.25rem; // should already be applied to paragraphs but SOME PEOPLE DON’T USE <P> ELEMENTS
  font-weight: 300;
  font-size: 16px; font-size: 1rem;
  line-height: (1.25/1) * 1.25;
  @media (max-width: 767px) {
    font-size: 14px; font-size: 0.875rem;
    line-height: (1.25/0.875)*1;
  }
}
.img-fade {
  display: none;
}
