
/*################################*\
    chewie  |  _comp.SponsorBlock.less
\*################################*/


// A block given to one sponsor level
// (e.g. Platinum or Gold)
// Subclasses:
// `--platinum`
// `--gold`
// `--corporate`
// `--silver`
// `--bronze`
// `--copper`
// Subcomponents:
// `__Logo`     - an image in a sponsor block
// `__TextLink` - a textual link for lower sponsor levels
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-27
.top-sponsor-block,
.c-SponsorBlock {
  @border_width: 2px;
  margin-bottom: 40px;
  &::before,
  .box {
    border: @border_width solid currentColor;
  }
  // [1] hides border from .box
  &::before {
    display: inline-block;
    padding: 8px 20px;
    border-bottom-color: @color_asce_body_bg !important; // [1] // !important overrides later border color
    margin-bottom: -@border_width;        // [1]
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
  .box {
    padding: 20px;
    text-align: center;
    @media (max-width: 767px) {
      padding: 5px;
    }
  }
}
.platinum,
.c-SponsorBlock--platinum {
  &::before,
  .box  {
    border-color: @color_platinum;
  }
  &::before {
    content: 'Platinum';
  }
  img {
    // TODO remove this selector once we can apply a class
    .c-SponsorBlock__Logo--platinum;
  }
}
.gold,
.c-SponsorBlock--gold {
  &::before,
  .box  {
    border-color: @color_gold;
  }
  &::before {
    content: 'Gold';
  }
  img {
    // TODO remove this selector once we can apply a class
    .c-SponsorBlock__Logo--gold;
  }
}
.corporate,
.c-SponsorBlock--corporate {
  &::before,
  .box  {
    border-color: @color_corporate;
  }
  &::before {
    content: 'Corporate Sponsors';
  }
}
.silver,
.c-SponsorBlock--silver {
  &::before,
  .box  {
    border-color: @color_silver;
  }
  &::before {
    content: 'Silver';
  }
}
.bronze,
.c-SponsorBlock--bronze {
  &::before,
  .box  {
    border-color: @color_bronze;
  }
  &::before {
    content: 'Bronze';
  }
}
.financial,
.copper,
.c-SponsorBlock--copper {
  &::before,
  .box  {
    border-color: @color_copper;
  }
  &::before {
    content: 'Copper';
  }
}

// A generic logo in a sponsor block
// Subclasses:
// `--platinum` - in a platinum block
// `--gold`     - in a gold block
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-27
.top-sponsor-block img,
.coop-orgs-block img,
.c-SponsorBlock__Logo {
  .low-logo();
  margin: 20px;
  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
  }
  .platinum &,
  .c-SponsorBlock--platinum & {
    .top-logo();
  }
  .gold &,
  .c-SponsorBlock--gold & {
    .mid-logo();
  }
}
// TODO leaving these here for now for readability but removing later
// once we can rename classes
.c-SponsorBlock__Logo--platinum {
  .top-logo();
}
.c-SponsorBlock__Logo--gold {
  .mid-logo();
}


// A generic text link (instead of a logo) in a sponsor block
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-27
.bronze a,
.financial a,
.copper a,
.c-SponsorBlock--bronze a,
.c-SponsorBlock--copper a,
.c-SponsorBlock__TextLink {
  font-size: 18px;
  font-weight: 700;
  &:not(:last-child)::after {
    content: '';
    padding-right: 12px;
    border-right: 1px solid @color_asce_primary; // so no change on hover
    margin-right: 8px;
  }
}

// old header for sponsor block used to be HTML
.box-header {
  opacity: 0; height: 0; // use this instead of `display: none` for screenreaders
}


// not really a SponsorBlock component, but just here bc it shares some styles
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-27
.coop-orgs-block,
.c-CoopBlock {
  background-color: @color_coop_bg;
  padding: 40px 15px;   // numbers numbers numbers
  padding-bottom: 20px; // numbers numbers numbers
  margin-bottom: 30px;  // numbers numbers numbers
  text-align: center;
  @media (max-width: 767px) {
    padding: 5px;
  }
  h2 {
    text-align: left; // overrides tac above
    // IDEA can’t we just use a utility class???
  }
  img {
    .mid-logo();
    opacity: .7;
  }
}
