
/*################################*\
    _comp.YearTabs.less
\*################################*/


// Tabs for past and future years of conference.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-09-10
.year-tabs {
}

.tab-buttons {
  margin-bottom: 0; // override default ul margin-bottom
  float: right !important; // remove bootstrap pull-right
  margin-top: -46px; // 34px (fs*lh) + 6px (pad-t) + 6px (pad-b)
  @media (max-width: 767px) {
    margin-top: -34px;
  }
}
.tab-buttons li {
  display: inline-block;
}
.tab-button {
  display: block;
  padding: 6px 20px;
  font-size: 24px;
  text-align: center;
  @media (max-width: 767px) {
    padding: 6px 12px;
    font-size: 16px;
  }
  li.active & {
    cursor: default;
    position: relative;
    &::after { // little arrow below
      content: '';
      display: block;
      margin: auto;
      width: 0;
      height: 0;
      border:  15px solid transparent;
      border-top-color: @color_site_accent;
      position: absolute;
      top: 46px;
      left: 35px; // magic number
    }
  }
}
