
/*################################*\
    _comp.Hero.less
\*################################*/


// The introduction section of the conference home page.
// Includes an image, heading and lede paragraph.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-31
.introduction,
.c-Hero {
  background-color: @color_site_primary;
  color: @color_asce_header_txt;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  #pipelinesconference & {
    background-color: @color_pl_primary;
  }
  #icsiconference & {
    background-color: @color_icsi_primary;
  }
  #lidconference & {
    background-color: @color_lid_primary;
  }
  img {
    .c-Hero__Img;
  }
  h1 {
    .c-Hero__Hn;
  }
  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
  }
  a:hover {
    opacity: .5;
  }

  & > div {
  // this NEEDS to be given a class.
    padding: 10px 30px;
  }
}
// Hero image
.c-Hero__Img {
  display: block;
  margin: auto;
}
// The heading of the Introcuction module
.c-Hero__Hn {
  font-size: 26px;
  color: inherit !important; // not #fff // override .content h1 // !important override conf-spec
  margin-bottom: 10px;
  text-transform: uppercase;
  @media (max-width: 989px) {
    font-size: 22px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}
// the introduction (lede) paragraph, also known as "blurb"
.intro,
.c-Hero__Lede {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  @media (max-width: 989px) {
    line-height: 20px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
  }
}
// an empty div whose gradient fades the image into the content piece
// (this should be an .c-Hero__Img::after pseudo-element)
.img-fade {
  @height: 50px;
  height: @height;
  width: 100%;
  position: absolute;
  margin-top: -@height;
  // padding: 0 !important; // TODO remove this line when we add a damn class (only here because `.introduction > div` has higher specificity)
  .bg-grad(@color_site_primary);
  #pipelinesconference & {
    .bg-grad(@color_pl_primary);
  }
  #icsiconference & {
    .bg-grad(@color_icsi_primary);
  }
  #lidconference & {
    .bg-grad(@color_lid_primary);
  }
  .bg-grad(@primary) {
    // a mixin for background gradients
    background: -moz-linear-gradient(top, fade(@primary, 0%) 0%, @primary 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@primary, 0%)), color-stop(100%,@primary)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, fade(@primary, 0%) 0%,@primary 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, fade(@primary, 0%) 0%,@primary 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, fade(@primary, 0%) 0%,@primary 100%); /* IE10+ */
    background: linear-gradient(to bottom, fade(@primary, 0%) 0%,@primary 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='@{primary}',GradientType=0 ); /* IE6-9 */
  }
}
