
/*################################*\
    _comp.ui.YearBadge.less
\*################################*/


// The YearBadge component represents the shield-like icon at the top
// of all pages containing the year (2015).
// Mixin .year-badge-mx() is a private tool to this component only.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-10-27
.year-badge-mx(@sizepx: 80px) {
  width: @sizepx;
  padding-top: (@sizepx/2);
  left: -(@sizepx/2);
  font-size: (@sizepx/4);
  // font-size: floor((@sizepx/3) / 10) * 10px; // rounds down to the nearest 10px
  &.year-badge { padding-top: (@sizepx/4); } // override
  &::after {
    @length: (@sizepx/4); // length of badge corner
    top: @length;
    border-width: (@sizepx/2);
    border-top-width: @length;
  }
}
.year-badge,
.c-YearBadge {
  .year-badge-mx();
  @bgcolor: @color_asce_primary;
  display: none;
  position: absolute;
  font-weight: 700;
  font-family: @font_ui;
  text-align: center;
  letter-spacing: -2px;
  background: @bgcolor;
  color: @color_asce_header_txt;
  &::before {
    content: '20';
    font-weight: 300;
    letter-spacing: 1px;
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-top-color: @bgcolor;
    border-bottom: 0;
  }
  @media screen and (min-width: 45em) { // breakpoint M+ (@M)
    display: block;
    // IDEA // zoom: 0.75;
    // IDEA // -ms-zoom: 0.75;
    // IDEA // -webkit-zoom: 0.75;
    // IDEA // -moz-transform:  scale(0.75,0.75);
    // IDEA // -moz-transform-origin: top center;
  }
  @media screen and (min-width: 60em) { // breakpoint L+ (@G)
    .year-badge-mx(100px);
  }
  @media screen and (min-width: 75em) { // breakpoint XL+ (@T)
    .year-badge-mx(120px);
  }
}
.year-badge {
  .footer & {
    position: initial;
  }
  h2 {
    display: inline;
    font-size: inherit;
    line-height: 0;
  }
  h2 {
    // override .header h2
    padding: 0;
    margin: 0;
  }
  .light {
    display: none;
  }
  &::before {
    position: relative;
    left: 0.125em;
  }
}
.year-badge-corner {
  display: none;
}
