
/*################################*\
    _comp.LinkBlock.less
\*################################*/


// a group of links with a header link and sub links.
// it corresponds to a top-level page.
// this component belongs in the site footer
.link-block {
  margin-bottom: 20px;
}

.c-LinkBlock__Heading,
.link-block h3 {
  opacity: .7;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  @media (max-width: 989px) {
    font-size: 14px;
  }
}

.footer .details a,
.c-LinkBlock__Link {
  display: block;
  line-height: inherit;
}

.c-LinkBlock--connect {
  .c-LinkBlock__Heading {
  }
}
.link-block.connect h3 {
}
.link-block.connect a {
  display: inline-block;
  margin-right: 1em;
  &:first-of-type {
    margin-left: 9px;
  }
}
