
/*################################*\
    chewie  |  _comp.SiteFooter.less
\*################################*/


// Site footer
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-21
.footer {
  background-image: url(../img/pattern-bg.png);
  margin-top: 50px; // makes room for year-tabs

  // section containing conference name and badge in footer
  .title {
    margin-bottom: 20px; // TODO use @chewie_vru once merged in with dev
  }

  // section containing meat of the footer
  .details {
    padding-top: 20px;
  }

  .mobile-nav {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.copyright {
  padding: 20px;
  background: @color_asce_primary;
  @media (max-width: 767px) {
    font-size: 10px;
  }
  img {
    margin-right: 20px;
  }
}
