
/*################################*\
    chewie  |  _comp.ui.ConfLogo.less
\*################################*/


// Shield logo of the Institute (or orginaztion)
// organizing the conference.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-21
.conference-logo,
.c-ConfLogo {
  width: 90px;
  padding-bottom: 20px;
  margin: 0 10px 20px;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 60px;
  }
}
