
/*################################*\
    chewie  |  _comp.DateBlock.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');


// An object containing one or more groups of dates and descriptions.
// (Used in .c-Callout--dates and in speaker profile)
// Subcomponents:
// `__Date`
// `__Desc`
//
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-28
.date-block {
  .flexbox();
  .flex-wrap(wrap);
  font-weight: 600;          // opinionated
  font-size: 12px;           // opinionated
  text-transform: uppercase; // opinionated
  letter-spacing: 1px;       // opinionated
}
.date-col,
.description-col {
  margin-bottom: 10px;
}
@date_w: 90px;
@date_mr: 10px;
.date-col {
  text-align: right;
  width: @date_w;
  padding-right: @date_mr;
  border-right: 1px solid #ccc; // same as speaker-profile dateline border
}
.description-col {
  width: calc(~'100% - ' @date_w);
  padding-left: @date_mr;
}
