
/*################################*\
    _comp.ui.SpeakerPhoto.less
\*################################*/


// photo of a keynote speaker
// Subclasses:
// --big - an uncropped speaker photo on the speakers page
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-09-03
.c-SpeakerPhoto {
  @mlr: 10px; // margin left right
  @size: 130px; // what is 130?
  min-width: @size;
  max-height: @size;
  margin: 0 @mlr;
}

.c-SpeakerPhoto--whole {
  max-width: none; // override base
  max-height: none; // override .c-SpeakerPhoto
}
