
/*################################*\
    _objects.less
\*################################*/


// Temporary stylesheet containg ALL objects


.header {
  .auto-col {
    padding-right: 50px;

    @media (max-width: 767px) {
        padding-right: 0px;
    }
  }
  .side-nav-col {
    background-size: cover;
    background-position: 50% 0;
    position: relative;

    @media (max-width: 767px) {
      background-position: 50% 50%;
      height: 145px;
      max-width: 100%;
      margin-bottom: 8px;
    }
  }
}
