
/*################################*\
    _objects.less
\*################################*/


// Temporary stylesheet containg ALL objects


// a container that acts like a table
// used on big horizontal sections of page
.col-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

// three possible columns in the col-container
.logo-col,
.side-nav-col,
.auto-col {
  display: table-cell;
  vertical-align: top;
  @media (max-width: 767px) {
    display: block;
    width: 100% !important; // why important??
  }
}

// column for the shield ConfLogo component
.logo-col {
  width: 105px;
  @media (max-width: 1199px) {
    width: 75px;
    .summary-banner & {
      width: 105px;
    }
    img {
      width: 60px;
    }
  }
}

// sidebar of page
.side-nav-col {
  width: 450px;
  @media (max-width: 1199px) {
    width: 385px;
  }
  @media (max-width: 989px) {
    width: 300px;
  }
  .header & {
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    @media (max-width: 767px) {
      background-position: 50% 50%;
      height: 145px;
      max-width: 100%; // is this necessary?
      margin-bottom: 8px;
    }
  }
}

// column for main shit
.auto-col {
  .header & {
    @media (min-width: 768px) {
      padding-right: 50px;
    }
    // same as:
    // padding-right: 50px;
    // @media (max-width: 767px) {
    //     padding-right: 0;
    // }
    //
  }
}


// a section in the sidebar
.callout {
  margin-bottom: 40px;
  width: 100%;

  h2 {
    font-weight: 400;
  }
  .callout-body {
    @image_top_border: 2px; // thickness of top border in image
    @image_color: #f0f1f1;
    background-image: url(../img/pattern-bg-fade.png);
    background-repeat: repeat-x;
    // background-position: center top;
    background-position: center -@image_top_border;
    padding: 18px 20px 0 20px;
    border-top: @image_top_border solid @image_color;
    &.no-bg {
      background-image: none;
    }
  }
  &.no-bg .callout-body { // this is stupid. should be `.callout-body.no-bg`
    background-image: none;
  }
}
