
/*################################*\
    _trumps.shame.less
\*################################*/

// <http://csswizardry.com/2013/04/shame-css/>. enough said.
//
///////////////////////////////////////////////////////////////////////////////



// meta stuff belonging in content
.breadcrumb-link {
    font-weight: 700;
    margin-top: 25px;
    display: inline-block;
}
.share-logos {
    font-weight: 600;
    margin-top: 10px;
    font-size: 13px;
}

// these are icons... what?
.live-chat {
  font-size: 18px;
  font-weight: 600;
  color: #62b840; // okay random
  &::before {
    content: '';
    display: inline-block;
    .sprite('../img/sprite.png'; 30px; 590px; 330px; 0);
    .sprite(6; 6);
    margin-top: -7px;
    margin-right: 6px;
    margin-bottom: -7px;
  }
  span { // REALLY??? a nested span selector?
    color: #333; // what color is this? body text?
    font-size: 12px;
  }
}
.phone {
  &::before {
    content: '';
    display: inline-block;
    .sprite('../img/sprite.png'; 30px; 590px; 330px; 0);
    .sprite(4; 6);
    margin-top: -7px;
    margin-right: 6px;
    margin-bottom: -7px;
  }
}








// HEREBELOW PUTTING ALL BOOTSTRAP OVERRIDES
// we shouldn't be overriding already-defined classes from bootstrap.
// if we want to change a bootstrap class, *extend* it instead of nesting it
// in another selector. that way, the class always looks the same no matter
// where it is placed in the DOM.

@media (min-width: 1370px) {
    .container {
       width: 1350px;
    }
}
.header {
    .container, .container-fluid {
        @media (max-width: 989px) {
            padding: 0 10px;
        }
        @media (max-width: 767px) {
            padding: 0px;
        }
    }
}

.footer .auto-col {
    .col-xs-2 {
        max-width: 68px; // where does this number come from?
    }
}

.table-responsive {
  @media (max-width: 767px) {
    border: none;
  }
  @media (max-width: 989px) {
    width: 100%;
    border: none;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
}
.summary-banner {
  @media (max-width: 1199px) {
    .col-container .logo-col {
      width: 105px;
    }
  }
}
.title .hidden-xs {
  margin-left: 120px;
  @media (max-width: 1199px) {
    margin-left: 85px;
  }
  margin-right: 20px;
}
.container {
  // overriding a bootstrap class, really?
  width: 100% !important;
  max-width: 1400px;
}

// inside SpeakerProfile
// overriding bootstrap's column padding
.dateline { padding-left: 0; }
.sessiontype { padding-right: 0; }
