
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    chewie
    Version: 1.4.4
    Licence:
    Repo   : https://github.com/asce-web/chewie.git
    Author : ASCE web team (webteam@asce.org)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@import (inline) url('../node_modules/xmeter/xmeter.css');


/*================================*\
    chewie.less
\*================================*/


// This stylesheet is the master stylesheet for all conference sites.
// Each and every conference site imports this stylesheet, which
// determines all styles for all conference sites.
// Then each conference site imports an additional stylesheet
// specific to that conference, which determines the conference-specific
// styles such as colors.

/**
 * # CONTENTS
 *
 * settings.......................variables
 *
 * tools
 * ....sprite.........................mixin for creating sprite background
 * ....logos..........................logo sizes
 *
 * base...........................bare, unclassed elements
 *
 * ## OBJECTS
 * object.........................temporary file containing ALL objects : will be broken up later
 * SpeakerProfile.................a three-column layout containing speaker session info, headshot, and speaker brief info
 * ListGrid.......................a list of blocks arranged in a table-like, flexible grid
 * ColDouble......................sets two columns of text or list items
 *
 * ## COMPONENTS
 *
 * ### Typographical Components
 * headings.......................temporary sheet for all headings ; break up later
 * TableHeader....................title of table. should go in <caption> or preceding <h1>
 * Callout........................section in the sidebar with a heading and body
 * Hero...........................section on home page with image, heading, and lede
 * Person.........................person name and title
 * DateBlock......................a block containing a date and a description of an event
 * Date...........................inline span of text indicating any date
 *
 * ### User-Interactive Components
 * YearBadge......................shield with year at top of all pages
 * YearRibbon.....................alternate to YearBadge
 * ConfLogo.......................image of conference logo shield in header/footer
 * SpeakerPhoto...................photo of keynote speaker(s)
 * NavBar.........................any generic navigation bar element

 * Icon...........................small icons
 * Button.........................buttons
 * Flag...........................label of some sort
 *
 *
 *
 * ## UNSORTED
 * SiteFooter.....................
 * SummaryBanner..................
 * LinkBlock
 * LinkArrow
 * SponsorHn......................heading of Sponsors section
 * SponsorBlock...................a block of sponsor logos
 * AsceLogo.......................logo at site footer
 *
 *
 *
 * ## TRUMPS
 * helpers........................context-agnostic helper classes
 * utils..........................atoms (exactly one style and marked `!important`)
 * shame..........................temporary hacks and fixes
 * ektron-fixes...................fixes specifically for ektron server custom styles
 */

@import url('__settings.less');

@import url('__tools.sprite.less');
@import url('__tools.logos.less');

@import url('_base.less');

@import url('_objects.less'); // temp
@import url('_comp.SpeakerProfile.less');
@import url('_obj.ListGrid.less');
@import url('_obj.ColDouble.less');

@import url('_comp.typo.headings.less'); // temp
@import url('_comp.typo.TableHeader.less');
@import url('_comp.typo.Callout.less');
@import url('_comp.Hero.less');
@import url('_comp.Person.less');
@import url('_comp.DateBlock.less');
@import url('_comp.typo.Date.less');


@import url('_comp.ui.YearBadge.less');
@import url('_comp.ui.YearRibbon.less');
@import url('_comp.ui.ConfLogo.less');
@import url('_comp.ui.SpeakerPhoto.less');
@import url('_comp.ui.NavBar.less');



@import url('_comp.Icon.less');
@import url('_comp.Button.less');
@import url('_comp.ui.Flag.less');

// NOTE the Header, Footer, and Summary Banner are too big to be components.
// We may just use small components inside to create the look-and-feel of each.
.header,
.footer,
.summary-banner,
.c-SummaryBanner {
  color: @color_asce_header_txt;
  background-color: @color_site_primary;
  #pipelinesconference & {
    background-color: @color_pl_primary;
  }
  #icsiconference & {
    background-color: @color_icsi_primary;
  }
  #lidconference & {
    background-color: @color_lid_primary;
  }
  a {
    &[href], // a[href] matches both a:link and a:visited
    &:hover {
    color: inherit;
    }
  }
}
@import url('_comp.SiteFooter.less');
@import url('_comp.SummaryBanner.less');


@import url('_comp.LinkBlock.less');
@import url('_comp.LinkArrow.less');

@import url('_comp.SponsorHn.less');
@import url('_comp.SponsorBlock.less');

@import url('_comp.AsceLogo.less');





@import url('_trumps.helpers.less');
@import url('_trumps.utils.less');
@import url('_trumps.shame.less');
@import url('_trumps.ektron-fixes.less');
