/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    chewie.less
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/**
 * # CONTENTS
 *
 * settings.......................variables
 *
 * tools
 * ....sprite.........................mixin for creating sprite background
 * ....logos..........................logo sizes
 *
 * base...........................bare, unclassed elements
 *
 * ## OBJECTS
 * object.........................temporary file containing ALL objects : will be broken up later
 *
 * ## COMPONENTS
 *
 * ### Typographical Components
 * Callout........................section in the sidebar with a heading and body
 *
 * ### User-Interactive Components
 * YearBadge......................shield with year at top of all pages
 * YearTabs.......................tabs for each year in the footer
 * ConfLogo.......................image of conference logo shield in header/footer
 * Icon...........................small icons
 * Button.........................buttons
 *
 * SponsorHeading.................heading of Sponsors section
 * SponsorBlock...................a block of sponsor logos
 *
 * ## TRUMPS
 * helpers........................context-agnostic helper classes
 * utils..........................atoms (exactly one style and marked `!important`)
 * shame..........................temporary hacks and fixes
 */
/*################################*\
    __settings.less
\*################################*/
/*++++++++++++++++++++++++++++++++*\
    ASCE COMPANY COLORS
\*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*\
    SPONSOR COLORS
\*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*\
    CONFERENCE SITE-SPECIFIC COLORS
\*++++++++++++++++++++++++++++++++*/
/*################################*\
    __tools.sprite.less
\*################################*/
/*################################*\
    __tools.logos.less
\*################################*/
/*################################*\
    _base.less
\*################################*/
/**
 * # CONTENTS
 *
 * GENERIC........................far-reaching page-wide selectors
 * SECTIONS.......................sections, articles, headers, footers, headings
 * GROUPING.......................paragraphs, lists, tables
 * TEXT...........................phrasing (inline) content and links
 * FORMS..........................form elements
 * EMBEDDED.......................images, videos
 */
/*++++++++++++++++++++++++++++++++*\
    ## GENERIC
\*++++++++++++++++++++++++++++++++*/
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #333333;
}
/*++++++++++++++++++++++++++++++++*\
    ## SECTIONS
\*++++++++++++++++++++++++++++++++*/
hr {
  margin-top: 0px;
  border-top: 2px solid #f4f4f5;
}
/*++++++++++++++++++++++++++++++++*\
    ## GROUPING
\*++++++++++++++++++++++++++++++++*/
ul,
ol {
  margin-bottom: 20px;
  padding-left: 1.9em;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}
ul {
  list-style-type: disc;
}
ul > li {
  list-style-image: url(../img/li-bullet.png);
}
ul ul > li {
  list-style-image: none;
}
/*++++++++++++++++++++++++++++++++*\
    ## TEXT
\*++++++++++++++++++++++++++++++++*/
a {
  color: #0c5fa8;
}
a:hover {
  color: #19a1cf;
}
a[href^='mailto:']::before {
  content: '';
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -5em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
  position: relative;
  top: 4px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  a[href^='mailto:']::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
a[href$='.pdf']::after {
  display: inline-block;
  width: auto;
  height: auto;
  content: 'PDF';
  padding: 1px 4px;
  margin-left: 8px;
  position: relative;
  top: -1px;
  font-size: 12px;
  font-weight: 700;
  background: #0c5fa8;
  color: #ffffff;
}
/*++++++++++++++++++++++++++++++++*\
    ## FORMS
\*++++++++++++++++++++++++++++++++*/
form {
  display: inline-block;
  width: 100%;
  background-color: #f4f4f5;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  border-radius: 1px;
  border: 1px solid #b3b8bc;
  box-shadow: inset 0px 1px 2px #e8eaeb;
  outline: none;
  padding: 8px;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
}
input[type="text"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
  border-color: #97d5e9;
}
label {
  display: block;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}
label em {
  color: red;
}
/*++++++++++++++++++++++++++++++++*\
    ## EMBEDDED
\*++++++++++++++++++++++++++++++++*/
img {
  width: auto;
  height: auto;
  max-width: 100%;
}
h1,
h2,
button {
  font-family: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
}
.navigation,
.year-tabs,
.button {
  font-family: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
}
/*################################*\
    _objects.less
\*################################*/
.col-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.logo-col,
.side-nav-col,
.auto-col {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 767px) {
  .logo-col,
  .side-nav-col,
  .auto-col {
    display: block;
    width: 100% !important;
  }
}
.logo-col {
  width: 105px;
}
@media (max-width: 1199px) {
  .logo-col {
    width: 75px;
  }
  .summary-banner .logo-col {
    width: 105px;
  }
  .logo-col img {
    width: 60px;
  }
}
.side-nav-col {
  width: 450px;
}
@media (max-width: 1199px) {
  .side-nav-col {
    width: 385px;
  }
}
@media (max-width: 989px) {
  .side-nav-col {
    width: 300px;
  }
}
.header .side-nav-col {
  background-size: cover;
  background-position: 50% 0;
  position: relative;
}
@media (max-width: 767px) {
  .header .side-nav-col {
    background-position: 50% 50%;
    height: 145px;
    max-width: 100%;
    margin-bottom: 8px;
  }
}
.content .side-nav-col {
  padding: 20px 60px 0;
}
@media (max-width: 1199px) {
  .content .side-nav-col {
    padding: 20px 40px 0;
  }
}
@media (max-width: 767px) {
  .content .side-nav-col {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .header .auto-col {
    padding-right: 50px;
  }
}
/*################################*\
    _comp.typo.Callout.less
\*################################*/
.callout,
.c-Callout {
  margin-bottom: 40px;
}
.callout:first-child,
.c-Callout:first-child {
  margin-top: 20px;
}
.callout h2,
.c-Callout h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.c-Callout--register .callout h2,
.c-Callout--register .c-Callout h2 {
  margin-bottom: 20px;
}
.callout .callout-body,
.c-Callout .callout-body {
  background-image: url(../img/pattern-bg-fade.png);
  background-repeat: repeat-x;
  background-position: center -2px;
  padding: 18px 20px 0;
  border-top: 2px solid #f0f1f1;
}
.callout .callout-body.no-bg,
.c-Callout .callout-body.no-bg {
  background-image: none;
}
.callout.important-dates .callout .callout-body,
.callout.important-dates .c-Callout .callout-body,
.c-Callout--dates .callout .callout-body,
.c-Callout--dates .c-Callout .callout-body {
  margin-left: -15px;
}
.callout.sponsors .callout .callout-body,
.callout.sponsors .c-Callout .callout-body,
.c-Callout--sponsors .callout .callout-body,
.c-Callout--sponsors .c-Callout .callout-body {
  text-align: center;
}
.callout.sponsors .callout .callout-body img,
.callout.sponsors .c-Callout .callout-body img,
.c-Callout--sponsors .callout .callout-body img,
.c-Callout--sponsors .c-Callout .callout-body img {
  max-height: 130px;
}
.callout.no-bg .callout-body,
.c-Callout.no-bg .callout-body {
  background-image: none;
}
.c-Callout__Heading {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.c-Callout--register .c-Callout__Heading {
  margin-bottom: 20px;
}
.c-Callout__Body {
  background-image: url(../img/pattern-bg-fade.png);
  background-repeat: repeat-x;
  background-position: center -2px;
  padding: 18px 20px 0;
  border-top: 2px solid #f0f1f1;
}
.c-Callout__Body.no-bg {
  background-image: none;
}
.callout.important-dates .c-Callout__Body,
.c-Callout--dates .c-Callout__Body {
  margin-left: -15px;
}
.callout.sponsors .c-Callout__Body,
.c-Callout--sponsors .c-Callout__Body {
  text-align: center;
}
.callout.sponsors .c-Callout__Body img,
.c-Callout--sponsors .c-Callout__Body img {
  max-height: 130px;
}
.callout.register h4,
.c-Callout--register h4 {
  margin-bottom: 20px;
}
.callout.register img,
.c-Callout--register img {
  margin-bottom: 20px;
}
.callout.important-dates .callout-body {
  margin-left: -15px;
}
.callout.sponsors .callout-body {
  text-align: center;
}
.callout.sponsors .callout-body img {
  max-height: 130px;
}
.callout.contacts,
.c-Callout--contacts {
  line-height: 26px;
}
/*################################*\
    _comp.ui.YearBadge.less
\*################################*/
.c-YearBadge {
  display: inline-block;
  width: 100px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  position: absolute;
  left: -50px;
  font-weight: 700;
  font-size: 33.33333333px;
  line-height: 1;
  font-family: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
  text-align: center;
  background: #0c5fa8;
  color: #ffffff;
}
.c-YearBadge::before {
  content: '20';
  font-weight: 300;
}
.c-YearBadge::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #0c5fa8;
  line-height: 0;
  position: relative;
  top: 29px;
}
.year-badge {
  width: 90px;
  background: #0c5fa8;
  color: #ffffff;
}
.year-badge h2 {
  padding: 40px 10px 10px;
  margin: 0;
}
.year-badge-corner {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 20px solid #0c5fa8;
}
.year-badge-wrapper {
  position: absolute;
  margin-left: -45px;
}
@media (max-width: 767px) {
  .year-badge-wrapper {
    display: none;
  }
}
/*################################*\
    _comp.ui.SpeakerPhoto.less
\*################################*/
.c-SpeakerPhoto {
  min-width: 130px;
  max-height: 130px;
  margin: 0 10px;
}
/*################################*\
    _comp.YearTabs.less
\*################################*/
.year-tabs {
  background-color: #ffffff;
}
.tab-buttons {
  margin-bottom: 0;
  background-color: #7aa96c;
}
.tab-buttons li {
  display: inline-block;
}
.tab-button {
  padding: 6px 20px;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none !important;
}
.tab-button:hover {
  background-color: #714509;
}
@media (max-width: 767px) {
  .tab-button {
    padding: 6px 12px;
    font-size: 16px;
  }
}
li.active .tab-button {
  background-color: #714509;
  cursor: default;
}
li.active .tab-button::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #714509;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
}
/*################################*\
    _comp.SiteHeader.less
\*################################*/
.conference-logo {
  max-width: 85px;
  float: left;
}
@media (max-width: 767px) {
  .conference-logo {
    max-width: 45px;
    margin: 0 10px 20px;
  }
}
.header .conference-logo {
  padding-top: 20px;
}
/*################################*\
    _comp.Icon.less
\*################################*/
.ic {
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  position: relative;
  top: -2px;
  color: transparent;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .ic {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.header .ic,
.footer .ic,
.summary-banner .ic {
  margin: -7px;
}
.link-block.contact .ic {
  margin-right: 9px;
}
.ic.menu {
  background-position: -10em -9em;
}
.ic.home {
  background-position: -17em -4em;
}
.ic.close-nav {
  background-position: -7em -9em;
}
.ic.download {
  background-position: -10em -4em;
}
.ic.contact {
  background-position: -5em -8em;
}
.ic.contact-large {
  background-position: -17em -3em;
}
.ic.contact-blue {
  background-position: -5em -6em;
}
.ic.telephone {
  background-position: -4em -6em;
}
.ic.chat {
  background-position: -6em -6em;
}
.ic.mobile-phone {
  background-position: -17em -2em;
}
.ic.chevron-down {
  background-position: -17em -5em;
}
.ic.linkedin {
  background-position: -1em -9em;
}
.ic.facebook {
  background-position: -2em -9em;
}
.ic.twitter {
  background-position: -3em -9em;
}
.ic.youtube {
  background-position: -4em -9em;
}
.ic.google {
  background-position: -5em -9em;
}
.ic.collapse-icon {
  background-position: -3em -6em;
}
.ic.twitter-large {
  background-position: -540px 0px;
  width: 50px;
  height: 60px;
}
.ic.facebook-large {
  background-position: -540px -60px;
  width: 50px;
  height: 60px;
}
.ic.google-large {
  background-position: -540px -120px;
}
.c-Icon--large {
  width: 50px;
  height: 60px;
}
.c-Icon--large--twitter {
  background-position: -540px 0px;
}
.c-Icon--large--facebook {
  background-position: -540px -60px;
}
.c-Icon--large--gplus {
  background-position: -540px -120px;
}
.collapse-icon {
  position: absolute;
  margin-left: -45px;
  top: initial;
  margin-top: -6px;
}
.collapsed .collapse-icon {
  background-position: -2em -6em;
}
.panel-heading:hover .collapse-icon {
  background-position: -3em -6em;
}
.panel-heading.collapsed:hover .collapse-icon {
  background-position: -2em -7em;
}
/*################################*\
    _comp.Button.less
\*################################*/
button,
a.button {
  background-color: #0c5fa8;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  border: none;
  padding: .5em 1em;
  border-radius: 3px;
  box-shadow: 0px 2px 0px #cdcdcd;
  font-weight: 500;
  cursor: pointer;
}
button:hover,
a.button:hover,
button a:visited,
a.button a:visited,
button a:focus,
a.button a:focus {
  background-color: #0e6cc0;
  color: #ffffff;
  text-decoration: none;
}
/*################################*\
    _comp.Person.less
\*################################*/
.c-Person {
  font-weight: inherit;
}
.person-name,
.person-title {
  font-weight: inherit;
}
.person-name,
.c-Person__Name {
  font-size: 18px;
}
.person-title,
.c-Person__Title {
  font-style: italic;
  margin-bottom: 10px;
}
/*################################*\
    _comp.DateLine.less
\*################################*/
.dateline {
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  text-align: right;
}
@media (max-width: 989px) {
  .dateline {
    border-right: 0;
  }
}
.header,
.footer,
.summary-banner {
  color: #ffffff;
  background-color: #6a9556;
}
.header a,
.footer a,
.summary-banner a {
  display: block;
  color: inherit;
}
/*################################*\
    _comp.SiteHeader.less
\*################################*/
.header h2 {
  padding-top: 20px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .header h2 {
    font-size: 20px;
  }
}
@media (max-width: 989px) {
  .header h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .header h2 {
    margin-bottom: 20px;
  }
}
.header h4 {
  font-style: italic;
  opacity: .7;
}
@media (max-width: 1199px) {
  .header h4 {
    font-size: 14px;
  }
}
.header h4.visible-xs {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
}
.header h5 {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .header h5 {
    font-size: 14px !important;
  }
}
.header h5 {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 767px) {
  .header h5 {
    padding: 10px;
    margin-top: 0px;
  }
}
/*################################*\
    _comp.SiteFooter.less
\*################################*/
.footer {
  background-image: url(../img/pattern-bg.png);
}
.footer h2 {
  padding-top: 40px;
  margin: 0px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .footer h2 {
    font-size: 20px;
  }
}
@media (max-width: 989px) {
  .footer h2 {
    font-size: 18px;
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .footer .title h2 {
    margin-left: 15px;
  }
}
.footer h4 {
  font-style: italic;
  opacity: .7;
}
@media (max-width: 1199px) {
  .footer h4 {
    font-size: 14px;
  }
}
.footer h5 {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .footer h5 {
    font-size: 14px !important;
  }
}
.footer .details {
  padding-top: 20px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .footer .details h2 {
    font-size: 14px;
  }
}
.footer .details h3 {
  opacity: .7;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 989px) {
  .footer .details h3 {
    font-size: 14px;
  }
}
@media (max-width: 989px) {
  .footer .details a {
    margin-bottom: 6px;
  }
}
.footer .details.year-prev-next h2 {
  font-size: 20px;
  padding-top: 0px !important;
}
.footer .details.year-prev-next h4 {
  margin-bottom: 5px;
}
.footer .details.year-prev-next h5 {
  font-weight: 600;
}
.footer .copyright {
  padding: 20px;
  background: #0c5fa8;
}
@media (max-width: 767px) {
  .footer .copyright {
    font-size: 10px;
  }
}
.footer .copyright a {
  display: inline;
}
.footer .copyright img {
  margin-right: 20px;
}
.footer .mobile-nav {
  margin-left: -15px;
  margin-right: -15px;
}
/*################################*\
    _comp.YearBadge.less
\*################################*/
.summary-banner {
  background-image: url(../img/pattern-bg.png);
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.summary-banner h2 {
  padding-top: 10px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
@media (max-width: 989px) {
  .summary-banner h2 {
    font-size: 18px;
    padding-top: 20px;
  }
}
@media (max-width: 1199px) {
  .summary-banner h2 {
    font-size: 20px;
  }
}
.summary-banner h3 {
  float: left;
  margin-right: 20px;
}
.summary-banner h4 {
  font-style: normal;
  opacity: .7;
}
@media (max-width: 1199px) {
  .summary-banner h4 {
    font-size: 14px;
  }
}
.summary-banner h5 {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .summary-banner h5 {
    font-size: 14px !important;
  }
}
/*################################*\
    _comp.Intro.less
\*################################*/
.introduction,
.c-Intro {
  background-color: #6a9556;
  color: #ffffff;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.introduction img,
.c-Intro img {
  display: block;
  margin: auto;
}
.introduction h1,
.c-Intro h1 {
  font-size: 26px;
  color: inherit;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 989px) {
  .introduction h1,
  .c-Intro h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .introduction h1,
  .c-Intro h1 {
    font-size: 18px;
  }
}
.introduction a,
.c-Intro a,
.introduction a:hover,
.c-Intro a:hover,
.introduction a:visited,
.c-Intro a:visited,
.introduction a:active,
.c-Intro a:active {
  color: inherit;
}
.introduction a:hover,
.c-Intro a:hover {
  opacity: .5;
}
.introduction > div,
.c-Intro > div {
  padding: 10px 30px;
}
.c-Intro__Hero {
  display: block;
  margin: auto;
}
.c-Intro__Hn {
  font-size: 26px;
  color: inherit;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 989px) {
  .c-Intro__Hn {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .c-Intro__Hn {
    font-size: 18px;
  }
}
.intro,
.c-Intro__Lede {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 989px) {
  .intro,
  .c-Intro__Lede {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .intro,
  .c-Intro__Lede {
    font-size: 14px;
    line-height: 18px;
  }
}
.img-fade {
  height: 50px;
  width: 100%;
  position: absolute;
  margin-top: -50px;
  background: -moz-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(106, 149, 86, 0)), color-stop(100%, #6a9556));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='fade(@color_site_primary, 0%)', endColorstr='@color_site_primary', GradientType=0);
  /* IE6-9 */
}
/*################################*\
    _comp.NavMain.less
\*################################*/
.navigation {
  background-color: #7aa96c;
  border-bottom: 6px solid #6a9556;
}
.navigation a {
  font-size: 18px;
  font-weight: 700;
  padding: 17px 24px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .navigation a {
    font-size: 14px;
    padding: 12px 12px;
  }
}
@media (max-width: 989px) {
  .navigation a {
    font-size: 13px;
    padding: 12px 7px;
  }
}
.mobile-nav {
  background-color: #7aa96c;
  padding-left: 75px;
  text-align: right;
  border-bottom: 0px;
}
.mobile-nav a {
  padding: 11px 10px;
}
/*################################*\
    _comp.NavMain.less
\*################################*/
.nav1 a {
  border-bottom: 6px solid transparent;
  margin-bottom: -6px;
}
.nav1 a:hover,
.nav1 a.active,
.nav1 .current-page {
  background-color: #714509;
}
.nav1 a.no-hover:hover,
.nav1 a.no-hover:active {
  background-color: transparent;
  opacity: .5;
}
/*################################*\
    _comp.NavSecondary.less
\*################################*/
.navigation-level2 {
  background-color: #714509;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.navigation-level2.show-current-page {
  position: relative;
}
.navigation-level2 ul {
  display: none;
  margin-bottom: 0;
}
@media (min-width: 767px) {
  .navigation-level2 ul.active,
  .navigation-level2 ul.current-page {
    display: block;
  }
}
.navigation-level2 li {
  display: inline-block;
}
.navigation-level2 a {
  font-weight: 700;
  padding: 14px 10px;
}
/*################################*\
    _comp.NavSide.less
\*################################*/
.nav2 {
  background-color: #0c5fa8;
  text-align: center;
}
.nav2 a:hover {
  background-color: #0e6cc0;
}
/*################################*\
    _comp.NavTertiary.less
\*################################*/
.nav3 {
  padding: 5px 26px 29px 26px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  text-align: center;
}
.nav3 a {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
}
@media (max-width: 989px) {
  .nav3 a {
    padding: 5px 0px;
    text-align: right;
    display: block;
  }
}
/*################################*\
    _comp.LinkBlock.less
\*################################*/
.link-block {
  margin-bottom: 20px;
}
.link-block.connect h3 {
  margin-bottom: 20px;
}
.link-block.connect a {
  display: inline-block;
  margin-right: 9px;
  margin-left: 9px;
}
/*################################*\
    _comp.LinkArrow.less
\*################################*/
.link-arrow {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.link-arrow::after {
  content: '';
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -10em -6em;
  margin-top: -7px;
  margin-bottom: -7px;
  position: relative;
  top: 1px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .link-arrow::after {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.footer .link-arrow {
  margin-bottom: 20px;
  font-size: 18px;
}
.footer .link-arrow::after {
  background-position: -7em -6em;
}
@media (max-width: 1199px) {
  .footer .link-arrow {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
/*################################*\
    _comp.SponsorHeading.less
\*################################*/
.sponsor-container h2,
.c-SponsorHeading {
  margin-bottom: 30px;
}
/*################################*\
    _comp.SponsorBlock.less
\*################################*/
.top-sponsor-block,
.c-SponsorBlock {
  margin-bottom: 40px;
}
.top-sponsor-block::before,
.c-SponsorBlock::before,
.top-sponsor-block .box,
.c-SponsorBlock .box {
  border: 2px solid currentColor;
}
.top-sponsor-block::before,
.c-SponsorBlock::before {
  display: inline-block;
  padding: 8px 20px;
  border-bottom-color: #ffffff !important;
  margin-bottom: -2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.top-sponsor-block .box,
.c-SponsorBlock .box {
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .top-sponsor-block .box,
  .c-SponsorBlock .box {
    padding: 5px;
  }
}
.top-sponsor-block img,
.c-SponsorBlock img {
  max-width: 202px;
  max-height: 90px;
  margin: 20px;
}
@media (max-width: 989px) {
  .top-sponsor-block img,
  .c-SponsorBlock img {
    max-width: 140px;
    max-height: 62px;
  }
}
@media (max-width: 767px) {
  .top-sponsor-block img,
  .c-SponsorBlock img {
    max-width: 68px;
    max-height: 36px;
  }
}
@media (max-width: 767px) {
  .top-sponsor-block img,
  .c-SponsorBlock img {
    margin-left: 0;
    margin-right: 0;
  }
}
.platinum .top-sponsor-block img,
.platinum .c-SponsorBlock img,
.c-SponsorBlock--platinum .top-sponsor-block img,
.c-SponsorBlock--platinum .c-SponsorBlock img {
  max-width: 360px;
  max-height: 160px;
}
@media (max-width: 989px) {
  .platinum .top-sponsor-block img,
  .platinum .c-SponsorBlock img,
  .c-SponsorBlock--platinum .top-sponsor-block img,
  .c-SponsorBlock--platinum .c-SponsorBlock img {
    max-width: 250px;
    max-height: 110px;
  }
}
@media (max-width: 767px) {
  .platinum .top-sponsor-block img,
  .platinum .c-SponsorBlock img,
  .c-SponsorBlock--platinum .top-sponsor-block img,
  .c-SponsorBlock--platinum .c-SponsorBlock img {
    max-width: 120px;
    max-height: 65px;
  }
}
.gold .top-sponsor-block img,
.gold .c-SponsorBlock img,
.c-SponsorBlock--gold .top-sponsor-block img,
.c-SponsorBlock--gold .c-SponsorBlock img {
  max-width: 270px;
  max-height: 120px;
}
@media (max-width: 989px) {
  .gold .top-sponsor-block img,
  .gold .c-SponsorBlock img,
  .c-SponsorBlock--gold .top-sponsor-block img,
  .c-SponsorBlock--gold .c-SponsorBlock img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .gold .top-sponsor-block img,
  .gold .c-SponsorBlock img,
  .c-SponsorBlock--gold .top-sponsor-block img,
  .c-SponsorBlock--gold .c-SponsorBlock img {
    max-width: 90px;
    max-height: 48px;
  }
}
.platinum::before,
.c-SponsorBlock--platinum::before,
.platinum .box,
.c-SponsorBlock--platinum .box {
  border-color: #cde1ec;
}
.platinum::before,
.c-SponsorBlock--platinum::before {
  content: 'Platinum';
}
.platinum img,
.c-SponsorBlock--platinum img {
  max-width: 360px;
  max-height: 160px;
}
@media (max-width: 989px) {
  .platinum img,
  .c-SponsorBlock--platinum img {
    max-width: 250px;
    max-height: 110px;
  }
}
@media (max-width: 767px) {
  .platinum img,
  .c-SponsorBlock--platinum img {
    max-width: 120px;
    max-height: 65px;
  }
}
.gold::before,
.c-SponsorBlock--gold::before,
.gold .box,
.c-SponsorBlock--gold .box {
  border-color: #f8cd79;
}
.gold::before,
.c-SponsorBlock--gold::before {
  content: 'Gold';
}
.gold img,
.c-SponsorBlock--gold img {
  max-width: 270px;
  max-height: 120px;
}
@media (max-width: 989px) {
  .gold img,
  .c-SponsorBlock--gold img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .gold img,
  .c-SponsorBlock--gold img {
    max-width: 90px;
    max-height: 48px;
  }
}
.corporate::before,
.c-SponsorBlock--corporate::before,
.corporate .box,
.c-SponsorBlock--corporate .box {
  border-color: #9ed8f9;
}
.corporate::before,
.c-SponsorBlock--corporate::before {
  content: 'Corporate Sponsors';
}
.silver::before,
.c-SponsorBlock--silver::before,
.silver .box,
.c-SponsorBlock--silver .box {
  border-color: #dbddde;
}
.silver::before,
.c-SponsorBlock--silver::before {
  content: 'Silver';
}
.bronze::before,
.c-SponsorBlock--bronze::before,
.bronze .box,
.c-SponsorBlock--bronze .box {
  border-color: #d9c5ac;
}
.bronze::before,
.c-SponsorBlock--bronze::before {
  content: 'Bronze';
}
.financial::before,
.c-SponsorBlock--copper::before,
.financial .box,
.c-SponsorBlock--copper .box {
  border-color: #d6a985;
}
.financial::before,
.c-SponsorBlock--copper::before {
  content: 'Copper';
}
.bronze a,
.financial a,
.c-SponsorBlock--silver a,
.c-SponsorBlock--copper a {
  font-size: 18px;
  font-weight: 700;
}
.bronze a:not(:last-child)::after,
.financial a:not(:last-child)::after,
.c-SponsorBlock--silver a:not(:last-child)::after,
.c-SponsorBlock--copper a:not(:last-child)::after {
  content: '';
  padding-right: 12px;
  border-right: 1px solid #0c5fa8;
  margin-right: 8px;
}
.c-SponsorBlock__Logo {
  max-width: 202px;
  max-height: 90px;
  margin: 20px;
}
@media (max-width: 989px) {
  .c-SponsorBlock__Logo {
    max-width: 140px;
    max-height: 62px;
  }
}
@media (max-width: 767px) {
  .c-SponsorBlock__Logo {
    max-width: 68px;
    max-height: 36px;
  }
}
@media (max-width: 767px) {
  .c-SponsorBlock__Logo {
    margin-left: 0;
    margin-right: 0;
  }
}
.platinum .c-SponsorBlock__Logo,
.c-SponsorBlock--platinum .c-SponsorBlock__Logo {
  max-width: 360px;
  max-height: 160px;
}
@media (max-width: 989px) {
  .platinum .c-SponsorBlock__Logo,
  .c-SponsorBlock--platinum .c-SponsorBlock__Logo {
    max-width: 250px;
    max-height: 110px;
  }
}
@media (max-width: 767px) {
  .platinum .c-SponsorBlock__Logo,
  .c-SponsorBlock--platinum .c-SponsorBlock__Logo {
    max-width: 120px;
    max-height: 65px;
  }
}
.gold .c-SponsorBlock__Logo,
.c-SponsorBlock--gold .c-SponsorBlock__Logo {
  max-width: 270px;
  max-height: 120px;
}
@media (max-width: 989px) {
  .gold .c-SponsorBlock__Logo,
  .c-SponsorBlock--gold .c-SponsorBlock__Logo {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .gold .c-SponsorBlock__Logo,
  .c-SponsorBlock--gold .c-SponsorBlock__Logo {
    max-width: 90px;
    max-height: 48px;
  }
}
.c-SponsorBlock__Logo--platinum {
  max-width: 360px;
  max-height: 160px;
}
@media (max-width: 989px) {
  .c-SponsorBlock__Logo--platinum {
    max-width: 250px;
    max-height: 110px;
  }
}
@media (max-width: 767px) {
  .c-SponsorBlock__Logo--platinum {
    max-width: 120px;
    max-height: 65px;
  }
}
.c-SponsorBlock__Logo--gold {
  max-width: 270px;
  max-height: 120px;
}
@media (max-width: 989px) {
  .c-SponsorBlock__Logo--gold {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .c-SponsorBlock__Logo--gold {
    max-width: 90px;
    max-height: 48px;
  }
}
.c-SponsorBlock__TextLink {
  font-size: 18px;
  font-weight: 700;
}
.c-SponsorBlock__TextLink:not(:last-child)::after {
  content: '';
  padding-right: 12px;
  border-right: 1px solid #0c5fa8;
  margin-right: 8px;
}
.coop-orgs-block,
.c-CoopBlock {
  background-color: #e8eaeb;
  padding: 40px 15px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .coop-orgs-block,
  .c-CoopBlock {
    padding: 5px;
  }
}
.coop-orgs-block h2,
.c-CoopBlock h2 {
  text-align: left;
}
.coop-orgs-block img,
.c-CoopBlock img {
  max-width: 270px;
  max-height: 120px;
  opacity: .7;
}
@media (max-width: 989px) {
  .coop-orgs-block img,
  .c-CoopBlock img {
    max-width: 188px;
    max-height: 82px;
  }
}
@media (max-width: 767px) {
  .coop-orgs-block img,
  .c-CoopBlock img {
    max-width: 90px;
    max-height: 48px;
  }
}
/*################################*\
    _comp.AsceLogo.less
\*################################*/
.asce-logo {
  background-image: url('../img/asce-logo-footer.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 233px;
  height: 30px;
}
@media (max-width: 1199px) {
  .asce-logo {
    background-image: url('../img/asce-logo-footer-small.png');
    width: 73px;
    height: 23px;
  }
}
/*################################*\
    _comp.SpeakerProfile.less
\*################################*/
.speaker-profile {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 989px) {
  .speaker-profile {
    display: block;
  }
}
.speaker-profile img {
  min-width: 130px;
  max-height: 130px;
  margin: 0 10px;
}
.session-col,
.photo-col,
.details-col {
  display: table-cell;
  vertical-align: middle;
}
.session-col,
.c-SessionDetails {
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 989px) {
  .details-col {
    display: block;
    width: 100%;
  }
}
.dateline,
.sessiontype {
  float: left;
}
/*################################*\
    _comp.DateBlock.less
\*################################*/
.date-block,
.o-DateBlock {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.date-block .date-col,
.o-DateBlock .date-col,
.date-block .description-col,
.o-DateBlock .description-col,
.date-block .o-DateBlock__Date,
.o-DateBlock .o-DateBlock__Date,
.date-block .o-DateBlock__Desc,
.o-DateBlock .o-DateBlock__Desc {
  margin-bottom: 10px;
}
.date-block .date-col,
.o-DateBlock .date-col,
.date-block .o-DateBlock__Date,
.o-DateBlock .o-DateBlock__Date {
  text-align: right;
  min-width: 90px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}
.date-block .description-col,
.o-DateBlock .description-col,
.date-block .o-DateBlock__Desc,
.o-DateBlock .o-DateBlock__Desc {
  max-width: 205px;
}
@media (max-width: 1199px) {
  .date-block .description-col,
  .o-DateBlock .description-col,
  .date-block .o-DateBlock__Desc,
  .o-DateBlock .o-DateBlock__Desc {
    max-width: 180px;
  }
}
@media (max-width: 989px) {
  .date-block .description-col,
  .o-DateBlock .description-col,
  .date-block .o-DateBlock__Desc,
  .o-DateBlock .o-DateBlock__Desc {
    max-width: 95px;
  }
}
@media (max-width: 767px) {
  .date-block .description-col,
  .o-DateBlock .description-col,
  .date-block .o-DateBlock__Desc,
  .o-DateBlock .o-DateBlock__Desc {
    max-width: 582px;
  }
}
/*################################*\
    _comp.typo.Date.less
\*################################*/
.date {
  color: #7aa96c;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*################################*\
    _comp.typo.TableHeader.less
\*################################*/
.table-header {
  margin: 0;
  padding: 10px;
  background: #d1d4d7;
  margin-bottom: -1px !important;
  z-index: 2;
  position: relative;
}
/*################################*\
    _comp.ui.Flag.less
\*################################*/
.flag {
  display: inline-block;
  border: 1px solid #ed1c24;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color: #ed1c24;
}
.note-flag {
  display: inline-block;
  padding: 8px 12px;
  border-left: 2px solid #fdcd2f;
  margin-bottom: 20px;
  font-weight: 700;
  font-style: italic;
  background: #fef0c1;
}
/*################################*\
    _trumps.helpers.less
\*################################*/
.light {
  font-weight: 300;
}
.large {
  font-size: 14px;
}
.details .large {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 989px) {
  .details .large {
    font-size: 14px;
  }
}
.details .col2 .large {
  text-transform: uppercase;
}
.details .col3 .large {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.details .col4 .large {
  margin: 10px;
}
/*################################*\
    _trumps.utils.less
\*################################*/
.uppercase {
  text-transform: uppercase;
}
/*################################*\
    _trumps.shame.less
\*################################*/
.breadcrumb-link {
  font-weight: 700;
  margin-top: 25px;
  display: inline-block;
}
.share-logos {
  font-weight: 600;
  margin-top: 10px;
  font-size: 13px;
}
.live-chat {
  font-size: 18px;
  font-weight: 600;
  color: #62b840;
}
.live-chat::before {
  content: '';
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -6em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .live-chat::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.live-chat span {
  color: #333333;
  font-size: 12px;
}
.phone {
  font-size: 18px;
  font-weight: 600;
}
.phone::before {
  content: '';
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -4em -6em;
  margin-top: -7px;
  margin-right: 6px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .phone::before {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.alternate .col-container .logo-col {
  width: 185px;
}
@media (max-width: 1199px) {
  .alternate .col-container .logo-col {
    width: 130px;
  }
  .alternate .col-container .logo-col img {
    width: 115px;
  }
}
.alternate .header .conference-logo {
  max-width: 165px;
}
@media (max-width: 767px) {
  .alternate .header .conference-logo {
    max-width: 60px;
  }
}
.toggleable-nav {
  display: none;
}
.toggleable-nav a {
  display: block;
  color: #fff;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 13px;
}
.toggleable-nav a:hover,
.toggleable-nav a:focus,
.toggleable-nav a:visited,
.toggleable-nav a:active {
  color: #fff;
}
.toggleable-nav .link-block {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .toggleable-nav.in {
    z-index: 10;
    background: #6a9556;
    box-shadow: -4px 0px 0px rgba(0, 0, 0, 0.25);
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    overflow: auto;
  }
  .toggleable-nav.in .close-nav {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 12;
    cursor: pointer;
  }
  .toggleable-nav.in .hidden-xs {
    display: block !important;
  }
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.content h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  color: #6a9556;
}
@media (max-width: 989px) {
  .content h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .content h1 {
    font-size: 24px;
  }
}
.content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
}
@media (max-width: 767px) {
  .content h2 {
    font-size: 20px;
  }
}
.content h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.content h4,
.content h5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.content p {
  margin: 0 0 20px;
}
.content table {
  width: 100%;
  margin-bottom: 20px;
}
.content table td,
.content table th {
  padding: 10px;
  border: 1px solid #e8eaeb;
}
.content table thead > tr > td,
.content table thead > tr > th {
  background-color: #f4f4f5;
  font-weight: 600;
  font-size: 13px;
}
.content table tbody > tr:nth-child(even) > td,
.content table tbody > tr:nth-child(even) > th {
  background-color: #f4f4f5;
}
.content table.no-stripe tbody > tr:nth-child(even) > td,
.content table.no-stripe tbody > tr:nth-child(even) > th {
  background-color: #fff;
}
.content table.no-border td,
.content table.no-border th {
  border: 1px solid transparent;
  border-bottom: 1px solid #e8eaeb;
}
.panel-default > .panel-heading {
  position: relative;
  background-color: #f4f4f5;
  border-color: #f4f4f5;
  border-left: 30px solid #0d71c8;
  border-radius: 0;
}
.panel-default > .panel-heading.collapsed {
  border-left: 30px solid #dbe7f2;
}
.panel-default > .panel-heading:hover {
  border-left: 30px solid #0d71c8;
}
.panel-default > .panel-heading p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: 600;
}
.panel-default > .panel-heading h2 {
  color: #0c5fa8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.panel-heading {
  cursor: pointer;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-color: #f4f4f5;
}
.panel-default {
  border-color: #f4f4f5;
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-body {
  padding-bottom: 0px;
}
.logo-grid table {
  table-layout: fixed;
}
.logo-grid table td {
  word-wrap: break-word;
  border: none;
  background: none;
  padding: 25px;
  vertical-align: bottom;
}
.logo-grid table td img {
  max-width: 100%;
  max-height: 130px;
  display: block;
  margin: auto auto;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 950px) {
  .logo-grid table td {
    display: block;
    width: 100% !important;
    padding: 0px;
    text-align: left;
  }
  .logo-grid table td img {
    margin: 0 0 15px 0;
  }
}
.logo-grid table td a {
  font-weight: 700;
}
.content .sponsor-opportunities {
  margin-top: 20px;
}
.content .sponsor-opportunities th {
  background: #e6f1f9;
  padding: 4px 8px;
}
.content .sponsor-opportunities td {
  padding: 5px 8px;
}
.content .recognition h3 {
  color: #333333;
  font-size: 18px;
  margin: 0;
  text-align: left;
}
.content .recognition td,
.content .recognition th {
  padding: 5px 8px;
}
.content .recognition th {
  background: #fff;
  text-align: center;
  font-weight: 700;
  color: #0c5fa8;
  font-size: 14px;
  text-transform: uppercase;
}
.content .recognition th:nth-child(even),
.content .recognition td:nth-child(even) {
  background: #f5f6f6 !important;
}
.content .recognition td {
  text-align: center;
}
.content .recognition td:first-child {
  text-align: left;
}
.key-links a {
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block;
}
.key-links a::after {
  content: "";
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -10em -6em;
  margin-top: -7px;
  margin-bottom: -7px;
  position: relative;
  top: 1px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .key-links a::after {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.milestone {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.checkmark {
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 30px;
  background-position: -15em -1em;
  display: block;
  margin: auto auto;
  margin-top: -7px;
  margin-bottom: -7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .checkmark {
    font-size: 30px;
    background-image: url('../img/sprite@2x.png');
    background-size: 590px 330px;
  }
}
.session {
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 1370px) {
  .container {
    width: 1350px;
  }
}
@media (max-width: 989px) {
  .header .container,
  .header .container-fluid {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .header .container,
  .header .container-fluid {
    padding: 0px;
  }
}
.footer .auto-col .col-xs-2 {
  max-width: 68px;
}
@media (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}
@media (max-width: 989px) {
  .table-responsive {
    width: 100%;
    border: none;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199px) {
  .summary-banner .col-container .logo-col {
    width: 105px;
  }
}
.title .hidden-xs {
  margin-left: 120px;
  margin-right: 20px;
}
@media (max-width: 1199px) {
  .title .hidden-xs {
    margin-left: 85px;
  }
}
.container {
  width: 100% !important;
  max-width: 1400px;
}
.dateline {
  padding-left: 0;
}
.sessiontype {
  padding-right: 0;
}
