/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    conference.less
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*################################*\
    __settings.less
\*################################*/
/*++++++++++++++++++++++++++++++++*\
    ASCE COMPANY COLORS
\*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*\
    SPONSOR COLORS
\*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*\
    CONFERENCE SITE-SPECIFIC COLORS
\*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*\
    CONFERENCE SITE-SPECIFIC COLORS
\*++++++++++++++++++++++++++++++++*/
.c-H--alpha,
.c-H--beta,
.c-H--gamma,
.c-H--delta,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #6a9556;
}
.introduction,
.c-Intro {
  background-color: #6a9556;
}
.img-fade {
  background: -moz-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(106, 149, 86, 0)), color-stop(100%, #6a9556));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(106, 149, 86, 0) 0%, #6a9556 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='fade(@color_site_primary, 0%)', endColorstr='@color_site_primary', GradientType=0);
  /* IE6-9 */
}
.date {
  color: #7aa96c;
}
.c-NavBar,
.navigation,
.nav3,
.tab-buttons,
.navigation-level2 {
  background-color: #7aa96c;
}
.nav1 a:hover,
.c-NavBar--main a:hover,
.nav1 .c-NavBar__Link:hover,
.c-NavBar--main .c-NavBar__Link:hover {
  background-color: #714509;
}
.navigation-level2,
.c-NavBar--secondary {
  background-color: #714509;
}
.c-NavBar--tabs .c-NavBar__Link:hover,
.c-NavBar--tabs .c-NavBar__Link.current {
  background-color: #714509;
}
.c-NavBar--tabs .c-NavBar__Link.current::after {
  border-top-color: #714509;
}
.tab-button:hover,
li.active .tab-button {
  background-color: #714509;
}
li.active .tab-button::after {
  border-top-color: #714509;
}
@media (max-width: 767px) {
  .toggleable-nav.in {
    background: #6a9556;
  }
}
.header,
.footer,
.summary-banner,
.c-SummaryBanner {
  background-color: #6a9556;
}
