
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    chewie (legacy design)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@import (inline) url('../node_modules/xmeter/xmeter.min.css');
@import (inline) url('../node_modules/bangs/bangs.min.css');


/*================================*\
    legacy.less
\*================================*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transform.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transform-origin.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transition.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');
@import (reference) url('__settings.less');


@import url('_base.less');

:root {
  --year-badge-width: 80px;
  @media screen and (min-width: 60em) {
    --year-badge-width: 100px;
  }
  @media screen and (min-width: 75em) {
    --year-badge-width: 120px;
  }
}

body {
  font-size: inherit; line-height: inherit; // undo Bootstrap
}

.o-Constrain {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

// Main column of the site.
// Contains super relevant info.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-04-03
.o-MainCol {}

// Side column of the site.
// Contains callouts and aside info.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-04-03
.o-SideCol {
  @media (min-width: 45em) {
    .flex(0 1 300px); // FIXME magic number!!!
  }
  @media (min-width: 60em) {
    .flex(0 1 385px); // FIXME magic number!!!
  }
  @media (min-width: 75em) {
    .flex(0 1 450px); // FIXME magic number!!!
  }
}




// Masthead header and footer banners across entire site.
//
// ^author
// Chris Harvey
// ^updated
// : 2017-04-03
.c-Mast {
  color: @color_asce_header_txt;
  .mx-bc-primary();
}
.c-Mast--nav {
  .mx-bc-secondary();
  @media not all and (min-width: 45em) {
    display: none;
  }
}
.c-Mast--nav--sub {
  .mx-bc-accent();
}


// Link across entire banner taking you home.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-04-03
.c-HomeLink {
  margin: 20px 0; // HACK fallback
  margin: var(--vru) 0;
  text-align: center;
  .flex-align-items(center);
  @media not all and (min-width: 45em) {
    .flex-direction(column);
  }
}

// Container for the site logo(s)
//
// ^author
// Chris Harvey
// ^updated
// : 2017-04-03
.c-HomeLink__Logo {
  margin: 0 1rem;
  @media not all and (min-width: 45em) {
    width: 90px; // FIXME magic number!!!
    // NOTE: cannot use `flex` to set width if flex-direction is column
  }
  @media (min-width: 45em) and (max-width: 75em) {
    .flex(0 1 60px); // FIXME magic number!!!
  }
  @media (min-width: 75em) {
    .flex(0 1 90px); // FIXME magic number!!!
  }
}

// Shield logo of the Institute (or orginaztion)
// organizing the conference.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-08-21
.c-ConfLogo {
}

// Container for headings of conference
// (name, tagline, dates, location)
//
// ^author
// Chris Harvey
// ^updated
// : 2017-04-03
.c-HomeLink__Titles {
  @media screen and (min-width: 45em) {
    margin-right: 60px; // HACK fallback // maximum possible --year-badge-width
    margin-right: calc(~'var(--year-badge-width) / 2');
    text-align: left; // HACK fallback
    text-align: start; // override `.o-HomeLink`
  }
}

.c-ConferenceName,
.c-ConferenceTagline {
  margin-bottom: calc(~'var(--vru) / 2');
}
.c-ConferenceTagline,
.c-ConferenceLocation {
  font-weight: bold;
  .font-size-el(0.875);
  @media (min-width: 75em) {
    .font-size-el(1.125);
  }
}
.c-ConferenceName {
  text-transform: uppercase;
  .font-size-el(1.125);
  font-weight: 700;
  font-family: @font_ui;
  @media (min-width: 45em) {
    padding-top: unset; // undo `h1`
  }
  @media (min-width: 60em) {
    .font-size-el(1.25);
  }
  @media (min-width: 75em) {
    .font-size-el(1.875);
  }
}
.c-ConferenceTagline {
  font-style: italic;
  opacity: 0.7;
}
.c-ConferenceLocation {
  margin-bottom: unset; // undo `p`
  text-transform: uppercase;
  font-weight: 600;
}

// Sidebar banner image containing contributors’ menu.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-04-03
.c-TopImg {
  position: relative; // contains absolute `.c-NavBar--contrib`
  background-size: cover;
  background-position: 50% 0;
  @media not all and (min-width: 45em) {
    display: none;
  }
}


// Any navigation bar.
//
// ^subclasses
// : --main         - A main navigation component containing
//                    the main directories: program, location, about, and contact.
// : --registration - A side navigation component containing call-to-actions:
//                    why attend, registration, etc.
// : --contrib      - The navigation component on the top of the page containing
//                    information for people: for speakers, sponsors, exhibitors, etc.
// : --sub          - Secondary-level navigation component containing subpages
//                    of the main directories
// ^author
// : Chris Harvey
// ^updated
// : 2017-04-03
.c-NavBar {
  .font-size-mod(12/16);
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  @media screen and (min-width: 75em) {
    .font-size-mod(20/16);
  }
  & > * {
    padding: 0.75rem;
    .transition(background-color 250ms);
    &:hover,
    &:focus {
      background-color: rgba(255,255,255, 0.25);
    }
    @media screen and (min-width: 75em) {
      padding: 1rem;
    }
  }
}
.c-NavBar--main {
  .flex-justify-content(flex-start);
  & > * {
    &:first-child {
      margin-left: 1rem;
    }
    &:hover,
    &:focus,
    &.active {
      .mx-bc-accent();
    }
  }
}
.c-NavBar--register {
  .flex-justify-content(center);
  background-color: @color_asce_primary;
}
.c-NavBar--contrib {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  // left: 60px; // HACK fallback // maximum possible --year-badge-width
  // left: calc(~'var(--year-badge-width) / 2');
  .flex-justify-content(flex-end); // undo .o-Flex
  .flex-align-items(flex-start); // undo .o-Flex
  @media not all and (min-width: 60em) {
    .flex-direction(column);
    .flex-justify-content(flex-start);
    .flex-align-items(flex-end);
  }
  @media screen and (min-width: 75em) {
    .font-size-mod(16/16); // undo .c-NavBar
  }
  background-image: linear-gradient(to bottom,
    rgba(0,0,0, 0.5) 0%,
    rgba(0,0,0, 0) 100%);
  background-image: linear-gradient(to bottom,
    rgba(0,0,0,(16/32)) 0%,
    rgba(0,0,0,( 9/32)) 25%,
    rgba(0,0,0,( 4/32)) 50%,
    rgba(0,0,0,( 1/32)) 75%,
    rgba(0,0,0,0) 100%);
  & > :hover {
    background-color: transparent;
    text-decoration: underline;
  }
}
.c-Mast--nav--sub ul {
  // NOTE this selector is used for when `ul` is entered in blocks by content coordinators
  /*&:extend(.o-List);*/padding-left:0;list-style:none;
  /*&:extend(.o-Flex);*/.flexbox();
  &:extend(.c-NavBar);
  &:extend(.c-NavBar--sub);
}
.c-NavBar--sub {
  position: absolute;
  left: 0; right: 0;
  z-index: 1;
  .flex-justify-content(flex-start);
  margin-bottom: 0; // override base ul
  font-weight: 600;
  text-transform: none; // HACK fallback
  text-transform: inherit; // HACK fallback
  text-transform: unset; // undo .c-NavBar
  .transform-origin(top);
  .transitions(-webkit-transform, -moz-transform, -ms-transform, -o-transform, transform; 100ms);
  .mx-bc-accent(); // FIXME only here because position absolute
  &:not(.active) {
    .transform(scale(1,0));
  }
}


// The YearBadge component represents the shield-like icon at the top
// of all pages containing the year (2015).
// Mixin .year-badge-mx() is a private tool to this component only.
//
// ^author
// : Dae Clarke
// ^updated
// : 2015-10-27
.c-YearBadge {
  display: none;
  position: relative;
  left: calc(~'-1 * var(--year-badge-width) / 2');
  z-index: 1; // over the contributor menu
  width: var(--year-badge-width);
  padding-top: calc(~'var(--year-badge-width) / 2');
  font-weight: 700;
  font-family: @font_ui;
  font-size: calc(~'var(--year-badge-width) / 4');
  text-align: center;
  background: @color_asce_primary;
  color: @color_asce_header_txt;
  &::before {
    content: '20';
    font-weight: 300;
  }
  &::after {
    --year-badge-corner-length: calc(~'var(--year-badge-width) / 4');
    content: '';
    display: block;
    position: relative;
    top: var(--year-badge-corner-length);
    width: 0;
    height: 0;
    border-width: var(--year-badge-corner-length) calc(~'var(--year-badge-width) / 2') 0;
    border-color: @color_asce_primary transparent;
  }
  @media screen and (min-width: 45em) {
    --display: block; // HACK lack of @supports
    display: var(--display);
    // IDEA maybe use zoom instead of custom property to define size?
    // zoom: 0.75;
    // -ms-zoom: 0.75;
    // -webkit-zoom: 0.75;
    // -moz-transform: scale(0.75,0.75);
    // -moz-transform-origin: top center;
  }
}






@media screen and (min-width: 45em) {
  .-ta-l-sM {
    text-align: left;
  }
}
